In [3]:
import pandas as pd
from pymongo import MongoClient, GEO2D
import pymongo
import json
import datetime
from bson.son import SON
import folium 
import math
import numpy as np
from IPython.display import display

In [4]:
#Create a link to MongoDB using MongoClient(The name of new database will be morte_motoquiro_event)
db = MongoClient().morte_motoquiro_event

In [5]:
# Create the collection "dados20150817_line_172" with an geolocation index "latlon"
db.dados20150817_line_172.create_index([("latlon", GEO2D)])

u'latlon_2d'

In [8]:
# Create the collection "dados20150817_line_316" with an geolocation index "latlon"
db.dados20150817_line_316.create_index([("latlon", GEO2D)])

u'latlon_2d'

In [6]:
# Create the collection "dados20150817_line_317" with an geolocation index "latlon"
db.dados20150817_line_317.create_index([("latlon", GEO2D)])

u'latlon_2d'

In [6]:
# Create the collection "dados20150817_line_957" with an geolocation index "latlon"
db.dados20150817_line_957.create_index([("latlon", GEO2D)])

u'latlon_2d'

In [7]:
df_20150817 = pd.read_csv('/home/kathrin/Doctorado/bus_rio/Datos_Omnibus/morte_motoqueiro_20150817/20150817.txt', delimiter = ('\t'))

df_20150817_line_172 = df_20150817[(df_20150817['line']=='172')]

In [12]:
df_20150817_line_316 = df_20150817[(df_20150817['line']=='316')]

In [8]:
df_20150817_line_317 = df_20150817[(df_20150817['line']=='317')]

In [10]:
df_20150817_line_957 = df_20150817[(df_20150817['line']=='957')]

In [5]:
#Insert in MongoDb gps data of bus line 172 on 2015-08-17


for row in df_20150817_line_172.iterrows():
    #The 'latitude' and 'longitude' names correspond to column names in the original cceats dataframe
    df_20150817_line_172_file = [{"timestamp": row[1]['timestamp'],
                                  "bus_id":row[1]['bus_id'],
                                  "line":row[1]['line'],
                                  "latitude": row[1]['latitude'],
                                  "longitude": row [1]['longitude'], 
                                  "speed" : row[1]['speed'],
                                  "latlon": [ row[1]['longitude'], row[1]['latitude'] ]
                                  }]
    db.dados20150817_line_172.insert_many(df_20150817_line_172_file)

In [4]:
len(df_20150817_line_172)

15855

In [15]:
#Insert in MongoDb gps data of bus line 316 on 2015-08-17
df_20150817_line_316_file = []

for row in df_20150817_line_316.iterrows():
    #The 'latitude' and 'longitude' names correspond to column names in the original cceats dataframe
    df_20150817_line_316_file = [{"timestamp": row[1]['timestamp'],
                                  "bus_id":row[1]['bus_id'],
                                  "line":row[1]['line'],
                                  "latitude": row[1]['latitude'],
                                  "longitude": row [1]['longitude'], 
                                  "speed" : row[1]['speed'],
                                  "latlon": [ row[1]['longitude'], row[1]['latitude'] ]
                                  }]
    db.dados20150817_line_316.insert_many(df_20150817_line_316_file)

In [9]:
#Insert in MongoDb gps data of bus line 317 on 2015-08-17
df_20150817_line_317_file = []

for row in df_20150817_line_317.iterrows():
    #The 'latitude' and 'longitude' names correspond to column names in the original cceats dataframe
    df_20150817_line_317_file = [{"timestamp": row[1]['timestamp'],
                                  "bus_id":row[1]['bus_id'],
                                  "line":row[1]['line'],
                                  "latitude": row[1]['latitude'],
                                  "longitude": row [1]['longitude'], 
                                  "speed" : row[1]['speed'],
                                  "latlon": [ row[1]['longitude'], row[1]['latitude'] ]
                                  }]
    db.dados20150817_line_317.insert_many(df_20150817_line_317_file)

In [ ]:
#Insert in MongoDb gps data of bus line 317 on 2015-08-17
df_20150817_line_957_file = []

for row in df_20150817_line_957.iterrows():
    #The 'latitude' and 'longitude' names correspond to column names in the original cceats dataframe
    df_20150817_line_957_file = [{"timestamp": row[1]['timestamp'],
                                  "bus_id":row[1]['bus_id'],
                                  "line":row[1]['line'],
                                  "latitude": row[1]['latitude'],
                                  "longitude": row [1]['longitude'], 
                                  "speed" : row[1]['speed'],
                                  "latlon": [ row[1]['longitude'], row[1]['latitude'] ]
                                  }]
    db.dados20150817_line_957.insert_many(df_20150817_line_957_file)

In [6]:
#calcula cuantos id diferentes que circularon de la linea 172 el dia 2015-08-17
df_20150817_line_172.groupby('line').bus_id.nunique()

line
172    24
Name: bus_id, dtype: int64

In [7]:
#Lista todos los  bus_id diferentes de la linea 172 que circularon el dia 2015-08-17
pd.unique(df_20150817_line_172.bus_id.ravel())

array(['A41315', 'A41059', 'A55077', 'A41220', 'A41228', 'A41213',
       'A41302', 'A41270', 'A41319', 'A41273', 'A41195', 'A41233',
       'A41231', 'A55157', 'A41269', 'A55156', 'A41329', 'A41333',
       'A55155', 'A55004', 'A41164', 'A41295', 'A55154', 'A41436'], dtype=object)

In [8]:
#otra forma de calcular la cantidad de bus_id diferentes circulando ese dia
#Function to compute the bus_ids circulating during a day 20150208 of bus line 172
def bus_id_list ():
    bus_id_20150817_172 = db.dados20150817_line_172.distinct("bus_id")
    return bus_id_20150817_172

In [9]:
busId_list = bus_id_list()
busId_list

[u'A41315',
 u'A41059',
 u'A55077',
 u'A41220',
 u'A41228',
 u'A41213',
 u'A41302',
 u'A41270',
 u'A41319',
 u'A41273',
 u'A41195',
 u'A41233',
 u'A41231',
 u'A55157',
 u'A41269',
 u'A55156',
 u'A41329',
 u'A41333',
 u'A55155',
 u'A55004',
 u'A41164',
 u'A41295',
 u'A55154',
 u'A41436']

In [10]:
#Funcion para meter los bus_Id del dataframe para un array
def get_busId_list():
    array_busId = []
    for bus in busId_list:
        strbus = str(bus)
        array_busId.insert(len(array_busId), strbus)
    return array_busId

In [11]:
array_busId = get_busId_list()
array_busId

['A41315',
 'A41059',
 'A55077',
 'A41220',
 'A41228',
 'A41213',
 'A41302',
 'A41270',
 'A41319',
 'A41273',
 'A41195',
 'A41233',
 'A41231',
 'A55157',
 'A41269',
 'A55156',
 'A41329',
 'A41333',
 'A55155',
 'A55004',
 'A41164',
 'A41295',
 'A55154',
 'A41436']

In [12]:
#Punto inicial del omnibus 172 Central do Brasil
initial_point = (-22.903570, -43.191571)

In [13]:
inverted_initial_point = (-43.191571, -22.903570)

In [14]:
#Punto final del omnibus 172 Sao Conrado
final_point = (-22.998734, -43.269457)

In [15]:
inverted_final_point = (-43.269457, -22.998734)

In [16]:
#funcion que dado un el bus_id de un omnibus y un punto inicial/final devuelve los puntos mas cercanos a ese punto. 
# A esa función se le debería pasar también la BD, pero ahora no se va a hacer asi
def near_points_to_origin (bus_id, inverted_origin_point):
    near_initial_points_array = []
    #la funcion $within recibe las coordenadas en orden inverso (primero longitud y después latitud)
    for row in db.dados20150301_line_410.find({"latlon": {"$within": {"$center": [inverted_origin_point, 0.00052543]}}, "bus_id": bus_id}).sort("timestamp",pymongo.DESCENDING):
        near_initial_points_array.insert(0, [row[u'timestamp'], row[u'latitude'], row[u'longitude'], row[u'speed']])
    #convert the array in panda dataframe 
    sorted_near_initial_points = pd.DataFrame(near_initial_points_array, columns=['timestamp', 'latitude', 'longitude', 'speed'])
    return sorted_near_initial_points

In [17]:
#LLamada a la funcion near_points_to_origin para encontrar los puntos más cercanos al 
#punto initial_point(-22.903570, -43.191571) aqui se pasan a la inversa
sorted_near_final_points = near_points_to_origin ('A41315', inverted_final_point)
sorted_near_final_points

Empty DataFrame
Columns: [timestamp, latitude, longitude, speed]
Index: []

In [10]:
bus_A41315 = df_20150817_line_172[(df_20150817_line_172['bus_id']== 'A41315')]
bus_A41315

                  timestamp  bus_id line   latitude  longitude  speed
18      17-08-2015 00:00:02  A41315  172 -22.901779 -43.207924   0.19
670     17-08-2015 00:01:12  A41315  172 -22.901798 -43.207867   0.00
1990    17-08-2015 00:02:22  A41315  172 -22.901829 -43.208069   0.74
2565    17-08-2015 00:02:57  A41315  172 -22.901754 -43.208141   0.19
4132    17-08-2015 00:04:07  A41315  172 -22.901829 -43.208038   0.19
5952    17-08-2015 00:05:17  A41315  172 -22.901798 -43.207989   0.00
6856    17-08-2015 00:05:52  A41315  172 -22.901808 -43.208118   0.00
8927    17-08-2015 00:07:02  A41315  172 -22.901806 -43.208042   0.00
10993   17-08-2015 00:08:12  A41315  172 -22.901827 -43.208084   0.00
13009   17-08-2015 00:09:22  A41315  172 -22.901741 -43.208015   0.00
13847   17-08-2015 00:09:57  A41315  172 -22.901823 -43.207882   0.00
15843   17-08-2015 00:11:07  A41315  172 -22.901781 -43.207958   0.00
17790   17-08-2015 00:12:17  A41315  172 -22.901834 -43.207932   0.00
18476   17-08-2015 00:12:52  A41315  172 -22.901819 -43.207947   0.37
20524   17-08-2015 00:14:02  A41315  172 -22.901766 -43.207985   0.19
22572   17-08-2015 00:15:12  A41315  172 -22.901888 -43.207958   0.56
24474   17-08-2015 00:16:22  A41315  172 -22.901924 -43.207989   0.00
25413   17-08-2015 00:16:57  A41315  172 -22.901876 -43.208031   0.19
27490   17-08-2015 00:18:07  A41315  172 -22.901777 -43.208031   0.19
29558   17-08-2015 00:19:17  A41315  172 -22.901831 -43.207958   0.00
30356   17-08-2015 00:19:52  A41315  172 -22.901834 -43.208023   0.00
32452   17-08-2015 00:21:02  A41315  172 -22.901714 -43.208038   0.00
34250   17-08-2015 00:22:09  A41315  172 -22.901690 -43.208019   0.19
35419   17-08-2015 00:22:52  A41315  172 -22.901659 -43.207951   5.00
37303   17-08-2015 00:24:02  A41315  172 -22.901192 -43.206455  42.78
39449   17-08-2015 00:25:12  A41315  172 -22.905642 -43.208614  42.60
41244   17-08-2015 00:26:16  A41315  172 -22.898180 -43.211296  70.93
43136   17-08-2015 00:27:23  A41315  172 -22.888811 -43.217113  63.34
44330   17-08-2015 00:28:10  A41315  172 -22.886259 -43.224838  70.38
45949   17-08-2015 00:29:08  A41315  172 -22.886732 -43.233246  69.64
...                     ...     ...  ...        ...        ...    ...
656200  17-08-2015 06:13:14  A41315  172 -22.909081 -43.222076   0.00
657981  17-08-2015 06:13:49  A41315  172 -22.909094 -43.222069   0.00
687328  17-08-2015 06:24:47  A41315  172 -22.909023 -43.222118   0.00
690486  17-08-2015 06:25:57  A41315  172 -22.909037 -43.222046   0.00
694061  17-08-2015 06:27:08  A41315  172 -22.907537 -43.218060  13.70
697923  17-08-2015 06:28:17  A41315  172 -22.907074 -43.211433  12.78
699342  17-08-2015 06:28:52  A41315  172 -22.907030 -43.211182   0.00
702455  17-08-2015 06:29:58  A41315  172 -22.907034 -43.210850  23.89
706933  17-08-2015 06:31:12  A41315  172 -22.907049 -43.210377   0.00
707928  17-08-2015 06:31:47  A41315  172 -22.907049 -43.210434   0.56
711524  17-08-2015 06:32:58  A41315  172 -22.907578 -43.210384   0.37
714699  17-08-2015 06:34:07  A41315  172 -22.907644 -43.210236   0.37
718507  17-08-2015 06:35:18  A41315  172 -22.907587 -43.210140   0.37
719566  17-08-2015 06:35:53  A41315  172 -22.907648 -43.210133   0.56
722889  17-08-2015 06:37:02  A41315  172 -22.910639 -43.210915  29.82
726310  17-08-2015 06:38:12  A41315  172 -22.911697 -43.209812   0.74
728263  17-08-2015 06:38:47  A41315  172 -22.911781 -43.209908   0.00
732604  17-08-2015 06:39:58  A41315  172 -22.913029 -43.210136   6.48
736777  17-08-2015 06:41:08  A41315  172 -22.916788 -43.210194  38.34
741020  17-08-2015 06:42:18  A41315  172 -22.925724 -43.209595  54.08
741919  17-08-2015 06:42:52  A41315  172 -22.930744 -43.208832  58.52
746283  17-08-2015 06:44:02  A41315  172 -22.935307 -43.209385  35.56
748929  17-08-2015 06:44:37  A41315  172 -22.940861 -43.202408  69.64
779968  17-08-2015 06:55:52  A41315  172 -22.975031 -43.189846   4.82
788192  17-08-2015 06:58:11  A41315  172 -22.974852 -43.187553   0.00
789375  17-08-2015 06:58:47  A41315  172 -22.974932 -43.187355  11.48
792520  17-08-2015 06:59:21  A41315  172 -22.973070 -43.185848  26.67
797049  17-08-2015 07:01:07  A41315  172 -22.969406 -43.186661  39.45
800281  17-08-2015 07:02:17  A41315  172 -22.968031 -43.187504   0.74
802315  17-08-2015 07:02:52  A41315  172 -22.968369 -43.188423  27.22

[138 rows x 6 columns]

In [11]:
bus_A55077 = df_20150817_line_172[(df_20150817_line_172['bus_id']== 'A55077')]
bus_A55077

                   timestamp  bus_id line   latitude  longitude  speed
2155     17-08-2015 00:02:35  A55077  172 -22.906309 -43.261021      0
51742    17-08-2015 00:32:35  A55077  172 -22.906370 -43.261070      0
99771    17-08-2015 01:02:35  A55077  172 -22.906380 -43.261021      0
190902   17-08-2015 02:02:35  A55077  172 -22.906330 -43.261082      0
237905   17-08-2015 02:32:35  A55077  172 -22.906389 -43.261070      0
284778   17-08-2015 03:02:35  A55077  172 -22.906290 -43.260990      0
332319   17-08-2015 03:32:35  A55077  172 -22.906380 -43.261059      0
441348   17-08-2015 04:41:55  A55077  172 -22.905029 -43.192638      0
443573   17-08-2015 04:42:55  A55077  172 -22.904961 -43.192780      0
445177   17-08-2015 04:43:55  A55077  172 -22.905029 -43.192810      0
448571   17-08-2015 04:45:25  A55077  172 -22.904930 -43.193260      0
449098   17-08-2015 04:45:55  A55077  172 -22.904921 -43.193249      0
450744   17-08-2015 04:46:55  A55077  172 -22.904909 -43.193279      0
452464   17-08-2015 04:47:55  A55077  172 -22.904921 -43.193298      0
454104   17-08-2015 04:48:55  A55077  172 -22.904909 -43.193199      0
455849   17-08-2015 04:49:55  A55077  172 -22.904909 -43.193230      0
457492   17-08-2015 04:50:55  A55077  172 -22.904909 -43.193279      0
459257   17-08-2015 04:51:55  A55077  172 -22.904791 -43.193211      5
461252   17-08-2015 04:52:55  A55077  172 -22.904591 -43.192471      3
462842   17-08-2015 04:53:25  A55077  172 -22.904499 -43.192120      5
465000   17-08-2015 04:54:55  A55077  172 -22.904369 -43.191681      0
466695   17-08-2015 04:55:55  A55077  172 -22.904190 -43.190948      3
468457   17-08-2015 04:56:55  A55077  172 -22.904730 -43.190651     44
471478   17-08-2015 04:58:25  A55077  172 -22.906940 -43.199070     40
473825   17-08-2015 04:59:55  A55077  172 -22.917101 -43.194271     69
475665   17-08-2015 05:00:55  A55077  172 -22.920771 -43.193661     66
477679   17-08-2015 05:01:55  A55077  172 -22.934811 -43.184269     68
479510   17-08-2015 05:02:55  A55077  172 -22.940571 -43.182789     65
480853   17-08-2015 05:03:25  A55077  172 -22.944469 -43.183861     67
483496   17-08-2015 05:04:55  A55077  172 -22.949301 -43.185410     37
...                      ...     ...  ...        ...        ...    ...
3414583  17-08-2015 22:25:05  A55077  172 -22.917459 -43.194080     29
3417458  17-08-2015 22:26:05  A55077  172 -22.913910 -43.194832     18
3420431  17-08-2015 22:27:05  A55077  172 -22.912359 -43.189281      1
3422221  17-08-2015 22:27:35  A55077  172 -22.911840 -43.188068     21
3426330  17-08-2015 22:29:05  A55077  172 -22.909340 -43.188660      0
3428243  17-08-2015 22:30:05  A55077  172 -22.906879 -43.190300     46
3430417  17-08-2015 22:31:05  A55077  172 -22.904980 -43.191471     31
3432357  17-08-2015 22:32:05  A55077  172 -22.904739 -43.191910      0
3433599  17-08-2015 22:32:35  A55077  172 -22.904650 -43.191891      0
3436627  17-08-2015 22:34:05  A55077  172 -22.904631 -43.191879      0
3439387  17-08-2015 22:35:05  A55077  172 -22.904360 -43.191761      0
3441104  17-08-2015 22:35:35  A55077  172 -22.904289 -43.191700      0
3444987  17-08-2015 22:37:05  A55077  172 -22.904230 -43.191631      0
3447502  17-08-2015 22:38:05  A55077  172 -22.904119 -43.191601      0
3449392  17-08-2015 22:39:05  A55077  172 -22.904190 -43.191849      0
3452146  17-08-2015 22:40:05  A55077  172 -22.905121 -43.192039     17
3453972  17-08-2015 22:41:05  A55077  172 -22.906321 -43.195572     43
3456615  17-08-2015 22:42:05  A55077  172 -22.908060 -43.200802     38
3458471  17-08-2015 22:43:05  A55077  172 -22.910009 -43.208870     52
3460266  17-08-2015 22:44:05  A55077  172 -22.910709 -43.217758     54
3462194  17-08-2015 22:45:05  A55077  172 -22.910740 -43.226521     66
3462938  17-08-2015 22:45:35  A55077  172 -22.910240 -43.231850     59
3465780  17-08-2015 22:47:05  A55077  172 -22.912769 -43.235229     44
3466517  17-08-2015 22:47:35  A55077  172 -22.912220 -43.236858     33
3468235  17-08-2015 22:48:05  A55077  172 -22.909090 -43.238319     34
3471975  17-08-2015 22:50:05  A55077  172 -22.910490 -43.241428      0
3474643  17-08-2015 22:51:05  A55077  172 -22.910919 -43.242321     27
3476367  17-08-2015 22:52:05  A55077  172 -22.913811 -43.244968     41
3478687  17-08-2015 22:53:05  A55077  172 -22.914560 -43.249081     30
3481351  17-08-2015 22:54:05  A55077  172 -22.914530 -43.251598     36

[919 rows x 6 columns]

In [12]:
buses_parados= bus_A41315[(bus_A41315['speed'] < 10)]
buses_parados

                  timestamp  bus_id line   latitude  longitude  speed
18      17-08-2015 00:00:02  A41315  172 -22.901779 -43.207924   0.19
670     17-08-2015 00:01:12  A41315  172 -22.901798 -43.207867   0.00
1990    17-08-2015 00:02:22  A41315  172 -22.901829 -43.208069   0.74
2565    17-08-2015 00:02:57  A41315  172 -22.901754 -43.208141   0.19
4132    17-08-2015 00:04:07  A41315  172 -22.901829 -43.208038   0.19
5952    17-08-2015 00:05:17  A41315  172 -22.901798 -43.207989   0.00
6856    17-08-2015 00:05:52  A41315  172 -22.901808 -43.208118   0.00
8927    17-08-2015 00:07:02  A41315  172 -22.901806 -43.208042   0.00
10993   17-08-2015 00:08:12  A41315  172 -22.901827 -43.208084   0.00
13009   17-08-2015 00:09:22  A41315  172 -22.901741 -43.208015   0.00
13847   17-08-2015 00:09:57  A41315  172 -22.901823 -43.207882   0.00
15843   17-08-2015 00:11:07  A41315  172 -22.901781 -43.207958   0.00
17790   17-08-2015 00:12:17  A41315  172 -22.901834 -43.207932   0.00
18476   17-08-2015 00:12:52  A41315  172 -22.901819 -43.207947   0.37
20524   17-08-2015 00:14:02  A41315  172 -22.901766 -43.207985   0.19
22572   17-08-2015 00:15:12  A41315  172 -22.901888 -43.207958   0.56
24474   17-08-2015 00:16:22  A41315  172 -22.901924 -43.207989   0.00
25413   17-08-2015 00:16:57  A41315  172 -22.901876 -43.208031   0.19
27490   17-08-2015 00:18:07  A41315  172 -22.901777 -43.208031   0.19
29558   17-08-2015 00:19:17  A41315  172 -22.901831 -43.207958   0.00
30356   17-08-2015 00:19:52  A41315  172 -22.901834 -43.208023   0.00
32452   17-08-2015 00:21:02  A41315  172 -22.901714 -43.208038   0.00
34250   17-08-2015 00:22:09  A41315  172 -22.901690 -43.208019   0.19
35419   17-08-2015 00:22:52  A41315  172 -22.901659 -43.207951   5.00
50529   17-08-2015 00:31:56  A41315  172 -22.875261 -43.240803   0.00
52480   17-08-2015 00:33:06  A41315  172 -22.875257 -43.240891   0.00
54503   17-08-2015 00:34:16  A41315  172 -22.875259 -43.240845   0.00
55183   17-08-2015 00:34:51  A41315  172 -22.875252 -43.240841   0.00
57043   17-08-2015 00:36:00  A41315  172 -22.875156 -43.240929   8.15
59038   17-08-2015 00:37:08  A41315  172 -22.874981 -43.240772   0.00
...                     ...     ...  ...        ...        ...    ...
569903  17-08-2015 05:42:11  A41315  172 -22.976967 -43.196285   8.70
577950  17-08-2015 05:45:05  A41315  172 -22.977942 -43.190964   8.33
579865  17-08-2015 05:45:41  A41315  172 -22.977846 -43.190609   9.26
585945  17-08-2015 05:48:00  A41315  172 -22.974409 -43.187965   1.30
588925  17-08-2015 05:49:10  A41315  172 -22.975101 -43.187393   9.45
592577  17-08-2015 05:50:20  A41315  172 -22.975889 -43.189919   1.30
635140  17-08-2015 06:05:59  A41315  172 -22.909063 -43.221909   0.00
639199  17-08-2015 06:07:09  A41315  172 -22.909122 -43.222069   0.00
642192  17-08-2015 06:08:19  A41315  172 -22.909115 -43.222065   0.00
643143  17-08-2015 06:08:54  A41315  172 -22.909115 -43.222054   0.00
646423  17-08-2015 06:10:04  A41315  172 -22.909094 -43.222042   0.00
649047  17-08-2015 06:10:54  A41315  172 -22.909048 -43.222084   0.00
652204  17-08-2015 06:12:04  A41315  172 -22.909069 -43.222046   0.00
656200  17-08-2015 06:13:14  A41315  172 -22.909081 -43.222076   0.00
657981  17-08-2015 06:13:49  A41315  172 -22.909094 -43.222069   0.00
687328  17-08-2015 06:24:47  A41315  172 -22.909023 -43.222118   0.00
690486  17-08-2015 06:25:57  A41315  172 -22.909037 -43.222046   0.00
699342  17-08-2015 06:28:52  A41315  172 -22.907030 -43.211182   0.00
706933  17-08-2015 06:31:12  A41315  172 -22.907049 -43.210377   0.00
707928  17-08-2015 06:31:47  A41315  172 -22.907049 -43.210434   0.56
711524  17-08-2015 06:32:58  A41315  172 -22.907578 -43.210384   0.37
714699  17-08-2015 06:34:07  A41315  172 -22.907644 -43.210236   0.37
718507  17-08-2015 06:35:18  A41315  172 -22.907587 -43.210140   0.37
719566  17-08-2015 06:35:53  A41315  172 -22.907648 -43.210133   0.56
726310  17-08-2015 06:38:12  A41315  172 -22.911697 -43.209812   0.74
728263  17-08-2015 06:38:47  A41315  172 -22.911781 -43.209908   0.00
732604  17-08-2015 06:39:58  A41315  172 -22.913029 -43.210136   6.48
779968  17-08-2015 06:55:52  A41315  172 -22.975031 -43.189846   4.82
788192  17-08-2015 06:58:11  A41315  172 -22.974852 -43.187553   0.00
800281  17-08-2015 07:02:17  A41315  172 -22.968031 -43.187504   0.74

[84 rows x 6 columns]

In [5]:
"""Funciones para renderizar el mapa en el html"""
from IPython.display import HTML
 
def inline_map(map):
    """
    Embeds the HTML source of the map directly into the IPython notebook.
    
    This method will not work if the map depends on any files (json data). Also this uses
    the HTML5 srcdoc attribute, which may not be supported in all browsers.
    """
    map._build_map()
    return HTML('<iframe srcdoc="{srcdoc}" style="width: 100%; height: 510px; border: none"></iframe>'.format(srcdoc=map.HTML.replace('"', '&quot;')))
 
def embed_map(map, path="map.html"):
    """
    Embeds a linked iframe to the map into the IPython notebook.
    
    Note: this method will not capture the source of the map into the notebook.
    This method should work for all maps (as long as they use relative urls).
    """
    map.create_map(path=path)
    return HTML('<iframe src="files/{path}" style="width: 100%; height: 510px; border: none"></iframe>'.format(path=path))

In [6]:
onibus172_shapes = pd.read_csv('/home/kathrin/Doctorado/bus_rio/Datos_Omnibus/Onibus/Shapes/gtfs_linha172-shapes.csv')
myfmap172=folium.Map(location=[-22.9105, -43.1718], zoom_start=12)
locations172 = []
for row in onibus172_shapes.iterrows():
    #The 'latitude' and 'longitude' names correspond to column names in the original cceats dataframe
    locations172.insert(1, [ row[1]['latitude'], row[1]['longitude'] ])

myfmap172.line(locations172)
embed_map(myfmap172)

In [15]:
#pintando los puntos más cerca del punto final (Vila Isabel)
for row in buses_parados.iterrows():
    #The 'latitude' and 'longitude' names correspond to column names in the original cceats dataframe
    latlon = [ row[1]['latitude'], row[1]['longitude'] ]
    myfmap172.polygon_marker( latlon, fill_color='red', num_sides=4, radius=6)

embed_map(myfmap172)

In [17]:
#pintando los puntos más cerca del punto final (Vila Isabel)
for row in df_20150817_line_172.iterrows():
    #The 'latitude' and 'longitude' names correspond to column names in the original cceats dataframe
    latlon = [ row[1]['latitude'], row[1]['longitude'] ]
    myfmap172.polygon_marker( latlon, fill_color='green', num_sides=4, radius=6)

embed_map(myfmap172)