In [1]:
import pandas as pd
from pymongo import MongoClient, GEO2D
import json

In [2]:
#Create a link to MongoDB using MongoClient(The name of new database will be aniv_cidade_event)
db = MongoClient().aniv_cidade_event

In [4]:
# Create the collection "dados20150208_line_438" with an geolocation index "latlon"
db.dados20150208_line_438.create_index([("latlon", GEO2D)])

u'latlon_2d'

In [5]:
# Create the collection "dados20150215_line_438" with an geolocation index "latlon"
db.dados20150215_line_438.create_index([("latlon", GEO2D)])

u'latlon_2d'

In [6]:
# Create the collection "dados20150222_line_438" with an geolocation index "latlon"
db.dados20150222_line_438.create_index([("latlon", GEO2D)])

u'latlon_2d'

In [7]:
# Create the collection "dados20150301_line_438" with an geolocation index "latlon"
db.dados20150301_line_438.create_index([("latlon", GEO2D)])

u'latlon_2d'

In [3]:
# Create the collection "dados20150208_line_410" with an geolocation index "latlon"
db.dados20150208_line_410.create_index([("latlon", GEO2D)])

u'latlon_2d'

In [17]:
# Create the collection "dados20150215_line_410" with an geolocation index "latlon"
db.dados20150215_line_410.create_index([("latlon", GEO2D)])

u'latlon_2d'

In [18]:
# Create the collection "dados20150222_line_410" with an geolocation index "latlon"
db.dados20150222_line_410.create_index([("latlon", GEO2D)])

u'latlon_2d'

In [25]:
# Create the collection "dados20150301_line_410" with an geolocation index "latlon"
db.dados20150301_line_410.create_index([("latlon", GEO2D)])

u'latlon_2d'

In [11]:
# Create the collection "busstops_438" with an geolocation index "latlon"
db.busstops.create_index([("latlon", GEO2D)])

u'latlon_2d'

In [7]:
#Insert in MongoDb gps data of bus line 438 on 2015-02-08
df_20150208 = pd.read_csv('/home/kathrin/Doctorado/bus_rio/Datos_Omnibus/aniversario450Rio_event_analysis/20150208.txt', delimiter = ('\t'))

df_20150208_line_438 = df_20150208[(df_20150208['line']=='438')]

for row in df_20150208_line_438.iterrows():
    #The 'latitude' and 'longitude' names correspond to column names in the original cceats dataframe
    df_20150208_line_438_file = [{"timestamp": row[1]['timestamp'],
                                  "bus_id":row[1]['bus_id'],
                                  "line":row[1]['line'],
                                  "latitude": row[1]['latitude'],
                                  "longitude": row [1]['longitude'], 
                                  "speed" : row[1]['speed'],
                                  "other" : row[1]['other'],
                                  "latlon": [ row[1]['longitude'], row[1]['latitude'] ]
                                  }]
    db.dados20150208_line_438.insert_many(df_20150208_line_438_file)

In [8]:
len(df_20150208_line_438)

6511

In [9]:
#calcula cuantos id diferentes que circularon de la linea 438 el dia 2015-02-08
df_20150208_line_438.groupby('line').bus_id.nunique()

line
438    27
Name: bus_id, dtype: int64

In [10]:
#Lista todos los  bus_id diferentes de la linea 438 que circularon el dia 2015-02-08
pd.unique(df_20150208_line_438.bus_id.ravel())

array(['A27611', 'A27629', 'A27565', 'A27604', 'A27655', 'A27675',
       'A27504', 'A27610', 'A27592', 'A27574', 'A27599', 'A27597',
       'A27626', 'A27554', 'A27587', 'A27633', 'A27512', 'A27562',
       'A27603', 'A27544', 'A27525', 'A27557', 'A27514', 'A27640',
       'A27510', 'A27577', 'A27511'], dtype=object)

In [11]:
#Insert in MongoDb gps data of bus line 438 on 2015-02-15
df_20150215 = pd.read_csv('/home/kathrin/Doctorado/bus_rio/Datos_Omnibus/aniversario450Rio_event_analysis/20150215.txt', delimiter=('\t'))


df_20150215_line_438 = df_20150215[(df_20150215['line']=='438')]

for row in df_20150215_line_438.iterrows():
    #The 'latitude' and 'longitude' names correspond to column names in the original cceats dataframe
    df_20150215_line_438_file = [{"timestamp": row[1]['timestamp'],
                                  "bus_id":row[1]['bus_id'],
                                  "line":row[1]['line'],
                                  "latitude": row[1]['latitude'],
                                  "longitude": row [1]['longitude'], 
                                  "speed" : row[1]['speed'],
                                  "other" : row[1]['other'],
                                  "latlon": [ row[1]['longitude'], row[1]['latitude'] ]
                                  }]
    db.dados20150215_line_438.insert_many(df_20150215_line_438_file)

In [12]:
len(df_20150215_line_438)

4675

In [13]:
#calcula cuantos id diferentes que circularon de la linea 438 el dia 2015-02-15
df_20150215_line_438.groupby('line').bus_id.nunique()

line
438    21
Name: bus_id, dtype: int64

In [14]:
#Lista todos los  bus_id diferentes de la linea 438 que circularon el dia 2015-02-15
pd.unique(df_20150215_line_438.bus_id.ravel())

array(['A27556', 'A27610', 'A27617', 'A27604', 'A27510', 'A27603',
       'A27599', 'A27514', 'A27534', 'A27632', 'A27629', 'A27550',
       'A27558', 'A27521', 'A27606', 'A27565', 'A27504', 'A27633',
       'A27566', 'A27554', 'A27600'], dtype=object)

In [15]:
#Insert in MongoDb gps data of bus line 438 on 2015-02-22
df_20150222 = pd.read_csv('/home/kathrin/Doctorado/bus_rio/Datos_Omnibus/aniversario450Rio_event_analysis/20150222.txt', delimiter=('\t'))

df_20150222_line_438 = df_20150222[(df_20150222['line']=='438')]

for row in df_20150222_line_438.iterrows():
    #The 'latitude' and 'longitude' names correspond to column names in the original cceats dataframe
    df_20150222_line_438_file = [{"timestamp": row[1]['timestamp'],
                                  "bus_id":row[1]['bus_id'],
                                  "line":row[1]['line'],
                                  "latitude": row[1]['latitude'],
                                  "longitude": row [1]['longitude'], 
                                  "speed" : row[1]['speed'],
                                  "other" : row[1]['other'],
                                  "latlon": [ row[1]['longitude'], row[1]['latitude'] ]
                                  }]
    db.dados20150222_line_438.insert_many(df_20150222_line_438_file)

In [16]:
len(df_20150222_line_438)

3296

In [17]:
#calcula cuantos id diferentes que circularon de la linea 438 el dia 2015-02-22
df_20150222_line_438.groupby('line').bus_id.nunique()

line
438    20
Name: bus_id, dtype: int64

In [18]:
#Lista todos los  bus_id diferentes de la linea 438 que circularon el dia 2015-02-15
pd.unique(df_20150222_line_438.bus_id.ravel())

array(['A27558', 'A27632', 'A27510', 'A27554', 'A27531', 'A27599',
       'A27646', 'A27504', 'A27565', 'A27606', 'A27603', 'A27604',
       'A27512', 'A27525', 'A27651', 'A27514', 'A27630', 'A27527',
       'A27544', 'A27618'], dtype=object)

In [19]:
#Insert in MongoDb gps data of bus line 438 on 2015-03-01
df_20150301 = pd.read_csv('/home/kathrin/Doctorado/bus_rio/Datos_Omnibus/aniversario450Rio_event_analysis/20150301.txt', delimiter=('\t'))

df_20150301_line_438 = df_20150301[(df_20150301['line']=='438')]

for row in df_20150301_line_438.iterrows():
    #The 'latitude' and 'longitude' names correspond to column names in the original cceats dataframe
    df_20150301_line_438_file = [{"timestamp": row[1]['timestamp'],
                                  "bus_id":row[1]['bus_id'],
                                  "line":row[1]['line'],
                                  "latitude": row[1]['latitude'],
                                  "longitude": row [1]['longitude'], 
                                  "speed" : row[1]['speed'],
                                  "other" : row[1]['other'],
                                  "latlon": [ row[1]['longitude'], row[1]['latitude'] ]
                                  }]
    db.dados20150301_line_438.insert_many(df_20150301_line_438_file)

In [20]:
len(df_20150301_line_438)

8409

In [21]:
#calcula cuantos id diferentes que circularon de la linea 438 el dia 2015-02-22
df_20150301_line_438.groupby('line').bus_id.nunique()

line
438    24
Name: bus_id, dtype: int64

In [22]:
#Lista todos los  bus_id diferentes de la linea 438 que circularon el dia 2015-02-15
pd.unique(df_20150301_line_438.bus_id.ravel())

array(['A27565', 'A27550', 'A27626', 'A27554', 'A27629', 'A27526',
       'A27603', 'A27632', 'A27576', 'A27558', 'A27593', 'A27556',
       'A27616', 'A27604', 'A27504', 'A27599', 'A27617', 'A27534',
       'A27514', 'A27544', 'A27614', 'A27510', 'A27606', 'A27566'], dtype=object)

In [12]:
#Insertar en la MongoDB todas las paradas de todos los omnibus
#Por ahora se insertaron solo las paradas de la 438, pero de igual forma se deben insertar todas

df_busstops_438 = pd.read_csv('/home/kathrin/Doctorado/bus_rio/Datos_Omnibus/Onibus/Paradas/gtfs_linha438-paradas.csv')

for row in df_busstops_438.iterrows():
    #The 'latitude' and 'longitude' names correspond to column names in the original cceats dataframe
    busstops_438 = [{"linha": row[1]['linha'],
                     "descricao":row[1]['descricao'],
                     "agencia":row[1]['agencia'],
                     "sequencia" : row[1]['sequencia'],
                     "latitude": row[1]['latitude'],
                     "longitude": row [1]['longitude'],
                     "latlon": [ row[1]['longitude'], row[1]['latitude']]
                    }]
    db.busstops.insert_many(busstops_438)

In [4]:
#Insert in MongoDb gps data of bus line 410 on 2015-02-08
df_20150208 = pd.read_csv('/home/kathrin/Doctorado/bus_rio/Datos_Omnibus/aniversario450Rio_event_analysis/20150208.txt', delimiter = ('\t'))

df_20150208_line_410 = df_20150208[(df_20150208['line']=='410')]

for row in df_20150208_line_410.iterrows():
    #The 'latitude' and 'longitude' names correspond to column names in the original cceats dataframe
    df_20150208_line_410_file = [{"timestamp": row[1]['timestamp'],
                                  "bus_id":row[1]['bus_id'],
                                  "line":row[1]['line'],
                                  "latitude": row[1]['latitude'],
                                  "longitude": row [1]['longitude'], 
                                  "speed" : row[1]['speed'],
                                  "other" : row[1]['other'],
                                  "latlon": [ row[1]['longitude'], row[1]['latitude'] ]
                                  }]
    db.dados20150208_line_410.insert_many(df_20150208_line_410_file)

In [5]:
#calcula cuantos id diferentes que circularon de la linea 410 el dia 2015-02-08
df_20150208_line_410.groupby('line').bus_id.nunique()

line
410    9
Name: bus_id, dtype: int64

In [8]:
#Lista todos los  bus_id diferentes de la linea 410 que circularon el dia 2015-02-08
pd.unique(df_20150208_line_410.bus_id.ravel())

array(['A72065', 'A72152', 'A72071', 'A72121', 'A72053', 'A72009',
       'A72050', 'A72110', 'A72089'], dtype=object)

In [22]:
#Insert in MongoDb gps data of bus line 410 on 2015-02-15
df_20150215 = pd.read_csv('/home/kathrin/Doctorado/bus_rio/Datos_Omnibus/aniversario450Rio_event_analysis/20150215.txt', delimiter = ('\t'))

df_20150215_line_410 = df_20150215[(df_20150215['line']=='410')]

for row in df_20150215_line_410.iterrows():
    #The 'latitude' and 'longitude' names correspond to column names in the original cceats dataframe
    df_20150215_line_410_file = [{"timestamp": row[1]['timestamp'],
                                  "bus_id":row[1]['bus_id'],
                                  "line":row[1]['line'],
                                  "latitude": row[1]['latitude'],
                                  "longitude": row [1]['longitude'], 
                                  "speed" : row[1]['speed'],
                                  "other" : row[1]['other'],
                                  "latlon": [ row[1]['longitude'], row[1]['latitude'] ]
                                  }]
    db.dados20150215_line_410.insert_many(df_20150215_line_410_file)

In [23]:
#calcula cuantos id diferentes que circularon de la linea 410 el dia 2015-02-15
df_20150215_line_410.groupby('line').bus_id.nunique()

line
410    15
Name: bus_id, dtype: int64

In [24]:
#Lista todos los  bus_id diferentes de la linea 410 que circularon el dia 2015-02-15
pd.unique(df_20150215_line_410.bus_id.ravel())

array(['A72050', 'A72023', 'A72129', 'A72110', 'A72095', 'A72065',
       'A72071', 'A72126', 'A72152', 'A72006', 'A72018', 'A72055',
       'A72125', 'A72053', 'A72174'], dtype=object)

In [19]:
#Insert in MongoDb gps data of bus line 410 on 2015-02-22
df_20150222 = pd.read_csv('/home/kathrin/Doctorado/bus_rio/Datos_Omnibus/aniversario450Rio_event_analysis/20150222.txt', delimiter = ('\t'))

df_20150222_line_410 = df_20150222[(df_20150222['line']=='410')]

for row in df_20150222_line_410.iterrows():
    #The 'latitude' and 'longitude' names correspond to column names in the original cceats dataframe
    df_20150222_line_410_file = [{"timestamp": row[1]['timestamp'],
                                  "bus_id":row[1]['bus_id'],
                                  "line":row[1]['line'],
                                  "latitude": row[1]['latitude'],
                                  "longitude": row [1]['longitude'], 
                                  "speed" : row[1]['speed'],
                                  "other" : row[1]['other'],
                                  "latlon": [ row[1]['longitude'], row[1]['latitude'] ]
                                  }]
    db.dados20150222_line_410.insert_many(df_20150222_line_410_file)

In [20]:
#calcula cuantos id diferentes que circularon de la linea 410 el dia 2015-02-22
df_20150222_line_410.groupby('line').bus_id.nunique()

line
410    13
Name: bus_id, dtype: int64

In [21]:
#Lista todos los  bus_id diferentes de la linea 410 que circularon el dia 2015-02-15
pd.unique(df_20150222_line_410.bus_id.ravel())

array(['A72071', 'A72006', 'A72152', 'A72095', 'A72065', 'A72053',
       'A72018', 'A72012', 'A72122', 'A72089', 'A72118', 'A72138', 'A72125'], dtype=object)

In [26]:
#Insert in MongoDb gps data of bus line 410 on 2015-03-01
df_20150301 = pd.read_csv('/home/kathrin/Doctorado/bus_rio/Datos_Omnibus/aniversario450Rio_event_analysis/20150301.txt', delimiter = ('\t'))

df_20150301_line_410 = df_20150301[(df_20150301['line']=='410')]

for row in df_20150301_line_410.iterrows():
    #The 'latitude' and 'longitude' names correspond to column names in the original cceats dataframe
    df_20150301_line_410_file = [{"timestamp": row[1]['timestamp'],
                                  "bus_id":row[1]['bus_id'],
                                  "line":row[1]['line'],
                                  "latitude": row[1]['latitude'],
                                  "longitude": row [1]['longitude'], 
                                  "speed" : row[1]['speed'],
                                  "other" : row[1]['other'],
                                  "latlon": [ row[1]['longitude'], row[1]['latitude'] ]
                                  }]
    db.dados20150301_line_410.insert_many(df_20150301_line_410_file)

In [27]:
#calcula cuantos id diferentes que circularon de la linea 410 el dia 2015-03-01
df_20150301_line_410.groupby('line').bus_id.nunique()

line
410    15
Name: bus_id, dtype: int64

In [28]:
#Lista todos los  bus_id diferentes de la linea 410 que circularon el dia 2015-03-01
pd.unique(df_20150301_line_410.bus_id.ravel())

array(['A72152', 'A72127', 'A72126', 'A72023', 'A72038', 'A72053',
       'A72026', 'A72122', 'A72018', 'A72065', 'A72040', 'A72071',
       'A72095', 'A72009', 'A72020'], dtype=object)