In [1]:
import pandas as pd
from pymongo import MongoClient, GEO2D
import json
import csv
import folium

In [8]:
"""Funciones para renderizar el mapa en el html"""
from IPython.display import HTML
 
def inline_map(map):
    """
    Embeds the HTML source of the map directly into the IPython notebook.
    
    This method will not work if the map depends on any files (json data). Also this uses
    the HTML5 srcdoc attribute, which may not be supported in all browsers.
    """
    map._build_map()
    return HTML('<iframe srcdoc="{srcdoc}" style="width: 100%; height: 510px; border: none"></iframe>'.format(srcdoc=map.HTML.replace('"', '&quot;')))
 
def embed_map(map, path="map.html"):
    """
    Embeds a linked iframe to the map into the IPython notebook.
    
    Note: this method will not capture the source of the map into the notebook.
    This method should work for all maps (as long as they use relative urls).
    """
    map.create_map(path=path)
    return HTML('<iframe src="files/{path}" style="width: 100%; height: 510px; border: none"></iframe>'.format(path=path))

In [3]:
#Create a link to MongoDB using MongoClient(The name of new database will be geo_example)
db = MongoClient().geo_example

In [9]:
# Create the database and collection "places" with an geolocation index "loc"
db.busstops.create_index([("latlon", GEO2D)])

u'loc_2d'

In [10]:
df = pd.read_csv('/home/kathrin/Doctorado/bus_rio/Datos_Omnibus/Onibus/Paradas/gtfs_linha438-paradas.csv')
#records = json.loads(df.T.to_json()).values()

for row in df.iterrows():
    #The 'latitude' and 'longitude' names correspond to column names in the original cceats dataframe
    busstops438 = [{ "line": row[1]['linha'],
                     "description":row[1]['descricao'],
                     "agency":row[1]['agencia'],
                     "senquency" : row[1]['sequencia'],
                     "latitude": row[1]['latitude'],
                     "longitude": row [1]['longitude'], 
                     "latlon": [ row[1]['latitude'], row[1]['longitude'] ]
                    }]
    
db.busstops.insert_many(busstops438)

In [12]:
len(df)

148

In [23]:
mymap=folium.Map(location=[-22.9163, -43.2512], zoom_start=16)

mymap.simple_marker([-22.9163, -43.2512], popup='latitude: -22.9163, longitude: -43.2512')    
mymap.circle_marker(location=[-22.9163, -43.2512], radius=150,line_color='red',
                  fill_color='#3186cc', fill_opacity=0.2)

#para calcular los 2 puntos que mas cerca están de [-22.9163, -43.2512] que es la primera parada de la secuencia
for doc in db.busstops.find({"latlon": {"$near": [-22.9163, -43.2512]}}).limit(2):
    print doc
    mymap.polygon_marker( [ doc['latitude'], doc['longitude'] ], fill_color='#45647d', num_sides=4, radius=6)

{u'latlon': [-22.9163, -43.2512], u'description': u'438-VILA ISABEL X LEBLON (VIA JOQUEI) - CIRCULAR', u'senquency': 1, u'agency': u'Fetranspor', u'longitude': -43.2512, u'latitude': -22.9163, u'line': 438, u'_id': ObjectId('55f8318e312f910da79a9925')}
{u'latlon': [-22.9177, -43.2512], u'description': u'438-VILA ISABEL X LEBLON (VIA JOQUEI) - CIRCULAR', u'senquency': 2, u'agency': u'Fetranspor', u'longitude': -43.2512, u'latitude': -22.9177, u'line': 438, u'_id': ObjectId('55f8318e312f910da79a98ba')}

In [25]:
#para pintar el shape de la linea

onibus438_shapes = pd.read_csv('/home/kathrin/Doctorado/bus_rio/Datos_Omnibus/Onibus/Shapes/gtfs_linha438-shapes.csv')

locations438 = []
for row in onibus438_shapes.iterrows():
    #The 'latitude' and 'longitude' names correspond to column names in the original cceats dataframe
    locations438.insert(1, [ row[1]['latitude'], row[1]['longitude'] ])

mymap.line(locations438)
embed_map(mymap)

In [27]:
#muestra los registros de los GPS del omnibus 438 con id A27592 desde las 3pm hasta las 8pm
gps08022015 = pd.read_csv('/home/kathrin/Doctorado/bus_rio/Datos_Omnibus/aniversario450Rio_event_analysis/20150208.txt', delimiter = ('\t'))
gps438_A27592 = gps08022015[(gps08022015['line'] == '438' ) & (gps08022015['bus_id'] == 'A27514') & (gps08022015['timestamp'] > '08-02-2015 15:00:00' ) & (gps08022015['timestamp'] < '08-02-2015 20:00:00' )]

In [66]:
gps438_A27592_3pm_4pm = gps438_A27592[(gps438_A27592['timestamp'] > '08-02-2015 15:00:00' ) & (gps438_A27592['timestamp'] < '08-02-2015 17:00:00' )]

In [67]:
len(gps438_A27592_3pm_4pm)

108

In [68]:
gps438_A27592_3pm_4pm

                   timestamp  bus_id line   latitude  longitude  speed  other
1633888  08-02-2015 15:00:05  A27514  438 -22.915689 -43.229500     23     37
1636101  08-02-2015 15:00:35  A27514  438 -22.915800 -43.229591      0    121
1640437  08-02-2015 15:02:05  A27514  438 -22.919161 -43.233212      0     80
1643717  08-02-2015 15:03:05  A27514  438 -22.918859 -43.234299     24     72
1646928  08-02-2015 15:04:05  A27514  438 -22.916580 -43.235062      0     61
1653320  08-02-2015 15:06:05  A27514  438 -22.916031 -43.235229      9     40
1655425  08-02-2015 15:06:35  A27514  438 -22.913931 -43.235729     26     64
1658837  08-02-2015 15:07:35  A27514  438 -22.914530 -43.239231     47    104
1661912  08-02-2015 15:08:35  A27514  438 -22.915190 -43.242561     29     94
1664593  08-02-2015 15:09:05  A27514  438 -22.915850 -43.246078     37    113
1668249  08-02-2015 15:10:35  A27514  438 -22.916269 -43.250511     23     77
1671617  08-02-2015 15:11:35  A27514  438 -22.916161 -43.250881      0     67
1674727  08-02-2015 15:12:35  A27514  438 -22.916170 -43.250881      0    105
1677940  08-02-2015 15:13:35  A27514  438 -22.916161 -43.250881      0     94
1680708  08-02-2015 15:14:05  A27514  438 -22.916161 -43.250881      0    118
1684537  08-02-2015 15:15:35  A27514  438 -22.916161 -43.250881      0     77
1687765  08-02-2015 15:16:35  A27514  438 -22.916170 -43.250881      0     66
1690900  08-02-2015 15:17:35  A27514  438 -22.916161 -43.250881      0    109
1694375  08-02-2015 15:18:35  A27514  438 -22.916161 -43.250881      0    104
1697413  08-02-2015 15:19:35  A27514  438 -22.916161 -43.250881      0     98
1700729  08-02-2015 15:20:35  A27514  438 -22.916170 -43.250889      0     87
1703806  08-02-2015 15:21:35  A27514  438 -22.916161 -43.250889      0     77
1707151  08-02-2015 15:22:35  A27514  438 -22.916180 -43.250992      0     67
1710418  08-02-2015 15:23:35  A27514  438 -22.916180 -43.250992      0    105
1713665  08-02-2015 15:24:35  A27514  438 -22.916180 -43.250992      0     94
1718049  08-02-2015 15:26:05  A27514  438 -22.916189 -43.250992      0     54
1720227  08-02-2015 15:26:35  A27514  438 -22.916189 -43.250992      0     73
1723450  08-02-2015 15:27:35  A27514  438 -22.916189 -43.250992      0    111
1726761  08-02-2015 15:28:35  A27514  438 -22.916189 -43.250992      0    101
1730050  08-02-2015 15:29:35  A27514  438 -22.916189 -43.250992      0     90
...                      ...     ...  ...        ...        ...    ...    ...
1891747  08-02-2015 16:19:05  A27514  438 -22.939199 -43.174358      0    109
1894900  08-02-2015 16:20:05  A27514  438 -22.940651 -43.176128     24     99
1898742  08-02-2015 16:21:35  A27514  438 -22.942020 -43.180141      0    107
1901947  08-02-2015 16:22:35  A27514  438 -22.944811 -43.182110     40     96
1904719  08-02-2015 16:23:05  A27514  438 -22.945450 -43.182289      0    115
1907847  08-02-2015 16:24:05  A27514  438 -22.947229 -43.182442     25    107
1911700  08-02-2015 16:25:35  A27514  438 -22.949570 -43.187469     40     66
1914710  08-02-2015 16:26:35  A27514  438 -22.950251 -43.191738     32    104
1918009  08-02-2015 16:27:35  A27514  438 -22.951460 -43.194759     19     94
1933724  08-02-2015 16:32:35  A27514  438 -22.961250 -43.212509      0     96
1936287  08-02-2015 16:33:05  A27514  438 -22.961470 -43.214230     41    115
1942982  08-02-2015 16:35:35  A27514  438 -22.966089 -43.219170      0     64
1946132  08-02-2015 16:36:35  A27514  438 -22.967180 -43.220051     42    103
1949502  08-02-2015 16:37:35  A27514  438 -22.973150 -43.225391     49     92
1952560  08-02-2015 16:38:35  A27514  438 -22.974779 -43.226212      0     81
1955904  08-02-2015 16:39:35  A27514  438 -22.977619 -43.226212      0     73
1959124  08-02-2015 16:40:35  A27514  438 -22.978201 -43.226490      0    112
1962517  08-02-2015 16:41:35  A27514  438 -22.978220 -43.226509      0    106
1965769  08-02-2015 16:42:35  A27514  438 -22.980850 -43.226719     22     95
1970221  08-02-2015 16:44:05  A27514  438 -22.987551 -43.228958      0     55
1972403  08-02-2015 16:44:35  A27514  438 -22.988350 -43.228260     21     74
1975524  08-02-2015 16:45:35  A27514  438 -22.988461 -43.228168      0    112
1978369  08-02-2015 16:46:05  A27514  438 -22.988480 -43.228149      0    132
1991833  08-02-2015 16:50:35  A27514  438 -22.982349 -43.223652     20    108
1994580  08-02-2015 16:51:05  A27514  438 -22.981960 -43.223759      0    127
2001614  08-02-2015 16:53:35  A27514  438 -22.978621 -43.224411      0     76
2004626  08-02-2015 16:54:35  A27514  438 -22.977249 -43.224899      0     65
2007975  08-02-2015 16:55:35  A27514  438 -22.973619 -43.225529      4    104
2010612  08-02-2015 16:56:05  A27514  438 -22.973579 -43.225491      7    123
2013686  08-02-2015 16:57:05  A27514  438 -22.971010 -43.223148     19    112

[108 rows x 7 columns]

In [71]:

# Create the database and collection  with an geolocation index "loc"
#db.gps438_A27592_3pm_4pm_table.create_index([("latlon", GEO2D)])
db.mytable1.create_index([("latlon", GEO2D)])

#insertar en mongo el dataframe filtrado
for row in gps438_A27592_3pm_4pm.iterrows():
    myarray = [{ "timestamp":row[1]['timestamp'],
                "bus_id" : row[1]['bus_id'],
                "latitude": row[1]['latitude'],
                "longitude": row [1]['longitude'],
                "speed":row[1]['speed'],
                "other":row[1]['other'],
                "latlon": [ row[1]['latitude'], row[1]['longitude'] ]
                
                  }]
                 
    db.mytable1.insert_many(myarray)

In [83]:
#para calcular los puntos donde los GPS hicieron observaciones y que mas cerca están de [-22.9163, -43.2512] que es la primera parada de la secuencia

for doc in db.mytable1.find({"latlon": {"$near": [-22.9163, -43.2512]}}).limit(50):
#    print doc
    mymap.polygon_marker( [ doc['latitude'], doc['longitude'] ], fill_color='browm', num_sides=4, radius=6)


embed_map(mymap)

In [109]:
#buscar la hora en que llegó al punto (inicial)
mymapnew=folium.Map(location=[-22.9563, -43.2512], zoom_start=12)

#poniendo el popup en el punto inicial
#mymapnew.simple_marker([-22.9882, -43.2283], popup='Punto Inicial, latitude: -22.9882, longitude:-43.2283')
                        
#Punto inicial, radio
mymapnew.circle_marker(location=[-22.9882, -43.2283], radius=1500,line_color='green',
                 fill_color='#3186cc', fill_opacity=0.2)

mymapnew.line(locations438)
embed_map(mymapnew)

In [110]:
#para calcular los puntos donde los GPS hicieron observaciones y que mas cerca están de [-22.9163, -43.2512] que es la primera parada de la secuencia

for doc in db.mytable1.find({"latlon": {"$near": [-22.9882, -43.2283]}}).limit(1):
    print doc
    mymapnew.polygon_marker( [ doc['latitude'], doc['longitude'] ], fill_color='browm', num_sides=4, radius=6)
  
embed_map(mymapnew)

{u'latlon': [-22.98835, -43.22826], u'timestamp': u'08-02-2015 16:44:35', u'longitude': -43.22826, u'other': 74.0, u'latitude': -22.98835, u'_id': ObjectId('55f8614d312f910da79a9afe'), u'bus_id': u'A27514', u'speed': 21.0}

In [116]:
#recorrido gavea-princesa isabel hoarario 4:44 om en adelante
gps438_A27592_4_44pm_adelante = gps438_A27592[(gps438_A27592['timestamp'] > '08-02-2015 16:44:00' ) & (gps438_A27592['timestamp'] < '08-02-2015 17:55:00' )]
gps438_A27592_4_44pm_adelante

                   timestamp  bus_id line   latitude  longitude  speed  other
1970221  08-02-2015 16:44:05  A27514  438 -22.987551 -43.228958      0     55
1972403  08-02-2015 16:44:35  A27514  438 -22.988350 -43.228260     21     74
1975524  08-02-2015 16:45:35  A27514  438 -22.988461 -43.228168      0    112
1978369  08-02-2015 16:46:05  A27514  438 -22.988480 -43.228149      0    132
1991833  08-02-2015 16:50:35  A27514  438 -22.982349 -43.223652     20    108
1994580  08-02-2015 16:51:05  A27514  438 -22.981960 -43.223759      0    127
2001614  08-02-2015 16:53:35  A27514  438 -22.978621 -43.224411      0     76
2004626  08-02-2015 16:54:35  A27514  438 -22.977249 -43.224899      0     65
2007975  08-02-2015 16:55:35  A27514  438 -22.973619 -43.225529      4    104
2010612  08-02-2015 16:56:05  A27514  438 -22.973579 -43.225491      7    123
2013686  08-02-2015 16:57:05  A27514  438 -22.971010 -43.223148     19    112
2024129  08-02-2015 17:00:35  A27514  438 -22.961220 -43.212509     24     99
2026859  08-02-2015 17:01:05  A27514  438 -22.960800 -43.209202     43    118
2030649  08-02-2015 17:02:35  A27514  438 -22.960510 -43.206200     43     78
2033382  08-02-2015 17:03:05  A27514  438 -22.960251 -43.203789      0     97
2043643  08-02-2015 17:06:35  A27514  438 -22.955629 -43.196239      0     90
2047855  08-02-2015 17:08:05  A27514  438 -22.954380 -43.192520     23     49
2062619  08-02-2015 17:12:35  A27514  438 -22.946230 -43.182178     36     74
2065849  08-02-2015 17:13:35  A27514  438 -22.941879 -43.178921      0     63
2068987  08-02-2015 17:14:35  A27514  438 -22.943319 -43.175011     50    102
2071385  08-02-2015 17:15:35  A27514  438 -22.939859 -43.171181      0     91
2073157  08-02-2015 17:16:05  A27514  438 -22.938311 -43.171371     41    110
2076197  08-02-2015 17:17:35  A27514  438 -22.933371 -43.174412     29     69
2079336  08-02-2015 17:18:35  A27514  438 -22.930441 -43.174210      0    108
2082457  08-02-2015 17:19:35  A27514  438 -22.926769 -43.173161      0     97
2085113  08-02-2015 17:20:05  A27514  438 -22.924820 -43.172531     49    117
2088135  08-02-2015 17:21:05  A27514  438 -22.919550 -43.174759     58    106
2091433  08-02-2015 17:22:05  A27514  438 -22.912291 -43.173119     44    100
2095193  08-02-2015 17:23:35  A27514  438 -22.910500 -43.171719     32     64
2098004  08-02-2015 17:24:05  A27514  438 -22.907049 -43.172760     56    133
2101285  08-02-2015 17:25:05  A27514  438 -22.903280 -43.175171     21    127
2105156  08-02-2015 17:26:35  A27514  438 -22.900610 -43.178162      3     86
2108299  08-02-2015 17:27:35  A27514  438 -22.901421 -43.179329     32     75
2111475  08-02-2015 17:28:35  A27514  438 -22.903820 -43.185619      9     65
2114234  08-02-2015 17:29:05  A27514  438 -22.904350 -43.188541     41    133
2124560  08-02-2015 17:32:35  A27514  438 -22.909510 -43.205009     65     72
2127449  08-02-2015 17:33:05  A27514  438 -22.910000 -43.206600     32    141
2131278  08-02-2015 17:34:35  A27514  438 -22.911119 -43.216629      0    100
2134590  08-02-2015 17:35:35  A27514  438 -22.912991 -43.217110      0     89
2137727  08-02-2015 17:36:35  A27514  438 -22.914120 -43.218559      0     78
2140858  08-02-2015 17:37:35  A27514  438 -22.912210 -43.221680     16     67
2144139  08-02-2015 17:38:35  A27514  438 -22.912460 -43.226398     24    106
2147415  08-02-2015 17:39:35  A27514  438 -22.914450 -43.228470      0     95
2150913  08-02-2015 17:40:35  A27514  438 -22.915430 -43.229309      0     84
2153996  08-02-2015 17:41:35  A27514  438 -22.917450 -43.230919     16     73
2157157  08-02-2015 17:42:35  A27514  438 -22.919180 -43.233250      0    112
2160559  08-02-2015 17:43:35  A27514  438 -22.918560 -43.234600     38    101
2163720  08-02-2015 17:44:35  A27514  438 -22.915409 -43.235340     32     91
2167164  08-02-2015 17:45:35  A27514  438 -22.913940 -43.236740      0     80
2171399  08-02-2015 17:47:05  A27514  438 -22.914881 -43.240440      0     39
2173662  08-02-2015 17:47:35  A27514  438 -22.914900 -43.240528      0    107
2178005  08-02-2015 17:49:05  A27514  438 -22.916109 -43.247318     50     67
2180038  08-02-2015 17:49:35  A27514  438 -22.916519 -43.249512     28     86
2183357  08-02-2015 17:50:35  A27514  438 -22.916639 -43.250130      9     75
2186635  08-02-2015 17:51:35  A27514  438 -22.916189 -43.250729      0     64
2189880  08-02-2015 17:52:35  A27514  438 -22.916189 -43.250729      0    103
2193133  08-02-2015 17:53:35  A27514  438 -22.916189 -43.250729      0     93
2196505  08-02-2015 17:54:35  A27514  438 -22.916180 -43.250729      0     82

In [112]:
for row in gps438_A27592_4_44pm_adelante.iterrows():
    #The 'latitude' and 'longitude' names correspond to column names in the original cceats dataframe
    latlon = [ row[1]['latitude'], row[1]['longitude'] ]
    mymapnew.polygon_marker( latlon, fill_color='green', num_sides=4, radius=6)
    
embed_map(mymapnew)