In [1]:
import pandas as pd
from pymongo import MongoClient, GEO2D
import json

In [2]:
#Create a link to MongoDB using MongoClient(The name of new database will be aniv_cidade_event)
db = MongoClient().morte_motoquiro_event

In [3]:
# Create the collection "dados20150208_line_438" with an geolocation index "latlon"
db.dados20150817.create_index([("latlon", GEO2D)])

u'latlon_2d'

In [4]:
#Insert in MongoDb gps data of bus line
df_20150817 = pd.read_csv('/home/kathrin/Doctorado/bus_rio/Datos_Omnibus/morte_motoqueiro_20150817/20150817.txt', delimiter = ('\t'))

In [5]:
df_20150817

                   timestamp  bus_id    line   latitude  longitude   speed
0        17-08-2015 00:00:01  A29006     474 -22.868679 -43.292511    0.00
1        17-08-2015 00:00:01  A37658     184 -22.905239 -43.192551    0.00
2        17-08-2015 00:00:01  A41131     460 -22.875120 -43.240982    0.00
3        17-08-2015 00:00:01  A41157     173 -22.874144 -43.241695    0.00
4        17-08-2015 00:00:01  A41286     NaN -22.858070 -43.244411    1.11
5        17-08-2015 00:00:01  A48058     NaN -22.910198 -43.270790    0.00
6        17-08-2015 00:00:01  A48149     539 -22.990646 -43.252373    9.07
7        17-08-2015 00:00:01  A48163     NaN -22.910921 -43.270485    0.37
8        17-08-2015 00:00:01  A48179     NaN -22.910479 -43.269600    0.00
9        17-08-2015 00:00:01  A50008     537 -22.929213 -43.253750    0.00
10       17-08-2015 00:00:01  C41850    2018 -22.970177 -43.360844   28.52
11       17-08-2015 00:00:01  C44615     709 -22.850830 -43.326870   37.00
12       17-08-2015 00:00:01  C51574     NaN -22.877516 -43.368450    0.00
13       17-08-2015 00:00:01  C51576     723 -22.876116 -43.368687    0.00
14       17-08-2015 00:00:01  C82601     651 -22.859211 -43.371181    0.19
15       17-08-2015 00:00:02  A37515     184 -22.901501 -43.196499    0.00
16       17-08-2015 00:00:02  A41079     NaN -22.857735 -43.244194    0.00
17       17-08-2015 00:00:02  A41176     NaN -22.874464 -43.242313    0.19
18       17-08-2015 00:00:02  A41315     172 -22.901779 -43.207924    0.19
19       17-08-2015 00:00:02  A48119     415 -22.923916 -43.255478    0.00
20       17-08-2015 00:00:02  A48162     NaN -26.520857 -46.663017    0.37
21       17-08-2015 00:00:02  A71596     124 -22.929634 -43.254742    0.00
22       17-08-2015 00:00:02  C41149     NaN -22.895058 -43.188656   38.34
23       17-08-2015 00:00:02  C41427     NaN -23.008764 -43.443230    0.56
24       17-08-2015 00:00:02  C50092     345 -22.929537 -43.253605    0.19
25       17-08-2015 00:00:03  A29057     NaN -22.895920 -43.236980    0.00
26       17-08-2015 00:00:03  A29111     NaN -22.867809 -43.290440    0.00
27       17-08-2015 00:00:03  A29114     535 -22.890770 -43.267929    0.00
28       17-08-2015 00:00:03  A29192     473 -22.937950 -43.203430   72.00
29       17-08-2015 00:00:03  A41047     NaN -22.992666 -43.248890   47.78
...                      ...     ...     ...        ...        ...     ...
3611438  17-08-2015 23:58:21  C41410     NaN -22.871956 -43.254089    2.78
3611439  17-08-2015 23:58:21  C47923     NaN -22.952484 -43.348583    0.00
3611440  17-08-2015 23:58:21  C47928     NaN -22.952763 -43.349651    0.00
3611441  17-08-2015 23:58:21  C50063     315 -22.894991 -43.188911    1.30
3611442  17-08-2015 23:58:22  A41329     123 -22.875074 -43.241444    0.00
3611443  17-08-2015 23:58:22  A50062     NaN -22.930252 -43.252628    0.00
3611444  17-08-2015 23:58:22  C30111     NaN -22.950489 -43.347916    0.00
3611445  17-08-2015 23:58:22  C47646     636 -22.952036 -43.349159    0.00
3611446  17-08-2015 23:58:22  C47833     NaN -22.952845 -43.348789    0.00
3611447  17-08-2015 23:58:22  C50086     302 -22.929688 -43.253578    0.00
3611448  17-08-2015 23:58:23  A41864     NaN -22.870573 -43.249664    0.56
3611449  17-08-2015 23:58:23  C13128     NaN -22.880507 -43.357590    0.00
3611450  17-08-2015 23:58:23  C20217     600 -22.928671 -43.373535    0.00
3611451  17-08-2015 23:58:23  C30294     NaN -22.951586 -43.347958    0.00
3611452  17-08-2015 23:58:23  C41217     309 -22.857586 -43.245224    0.19
3611453  17-08-2015 23:58:23  C41873    2018 -22.809099 -43.252651    0.00
3611454  17-08-2015 23:58:23  C41875    2918 -22.992670 -43.248646   62.23
3611455  17-08-2015 23:58:23  C47633  LECD10 -22.973122 -43.367912   31.00
3611456  17-08-2015 23:58:23  C86308     525 -22.894655 -43.531502    0.00
3611457  17-08-2015 23:58:24  C12507    2345 -22.859383 -43.370811    0.19
3611458  17-08-2015 23:58:24  C12526     NaN -22.859552 -43.370804    0.00
3611459  17-08-2015 23:58:24  C50056     305 -22.929173 -43.253277    0.19
3611460  17-08-2015 23:58:25  A41861     NaN -22.871599 -43.257778    4.26
3611461  17-08-2015 23:58:25  C41883    2018 -22.870375 -43.249908    0.37
3611462  17-08-2015 23:58:26  A41135     463 -22.875376 -43.241913    0.00
3611463  17-08-2015 23:58:26  A71602     125 -22.929859 -43.254421    0.74
3611464  17-08-2015 23:58:27  A41374     126 -22.875208 -43.240582    0.19
3611465  17-08-2015 23:58:27  C41855    2018 -22.967373 -43.357628   69.64
3611466  17-08-2015 23:58:28  A41070     121 -22.875856 -43.241764    0.00
3611467  17-08-2015 23:58:29  C41852    2018 -23.002764 -43.200069  305.95

[3611468 rows x 6 columns]

In [6]:
df_20150803 = pd.read_csv('/home/kathrin/Doctorado/bus_rio/Datos_Omnibus/morte_motoqueiro_20150817/20150803.txt', delimiter = ('\t'))

In [7]:
df_20150803

,timestamp,bus_id,line,latitude,longitude,speed,other
0,03-08-2015 00:04:47,B25502,606,-22.904400,-43.298100,9.0,-260
1,03-08-2015 00:00:01,A41284,127,-22.900591,-43.207668,0.0,55
2,03-08-2015 00:00:01,A48067,415,-22.910719,-43.270496,0.2,55
3,03-08-2015 00:00:01,A71587,NaN,-22.930176,-43.254005,0.0,55
4,03-08-2015 00:00:01,B11534,362,-22.832800,-43.266100,72.4,55
5,03-08-2015 00:00:01,B11724,773,-22.811400,-43.372700,0.0,55
6,03-08-2015 00:00:01,B19501,377,-22.875000,-43.242900,0.0,55
7,03-08-2015 00:00:01,B51625,NaN,-22.876600,-43.367900,0.0,55
8,03-08-2015 00:00:01,C20019,390,-22.936150,-43.351822,35.0,55
9,03-08-2015 00:00:01,C30027,NaN,-22.952419,-43.348320,0.0,55
10,03-08-2015 00:00:01,C30133,NaN,-22.951452,-43.348877,0.0,55
11,03-08-2015 00:00:01,C51631,NaN,-22.877619,-43.368866,0.0,55
12,03-08-2015 00:00:01,C82657,678,-22.858946,-43.370918,0.0,55
13,03-08-2015 00:00:01,D86246,NaN,-22.895126,-43.533577,0.0,55
14,03-08-2015 00:00:02,A41091,173,-22.873915,-43.241760,0.2,54
15,03-08-2015 00:00:02,A41176,NaN,-22.874151,-43.242146,0.0,54
16,03-08-2015 00:00:02,A41312,NaN,-22.857548,-43.244308,0.0,54
17,03-08-2015 00:00:02,A41436,127,-22.973534,-43.188805,20.6,54
18,03-08-2015 00:00:02,A41820,2017,-22.870073,-43.248955,0.7,54
19,03-08-2015 00:00:02,A48097,415,-22.910755,-43.270618,0.0,54
20,03-08-2015 00:00:02,A71553,548,-22.929747,-43.253838,2.2,54
21,03-08-2015 00:00:02,B11516,908,-22.878400,-43.290900,54.1,54
22,03-08-2015 00:00:02,B11520,362,-22.909200,-43.193700,1.5,54
23,03-08-2015 00:00:02,B11678,778,-22.820800,-43.365100,23.7,54
24,03-08-2015 00:00:02,B11719,778,-22.811100,-43.372900,1.1,54
25,03-08-2015 00:00:02,B32537,296,-22.876700,-43.336100,3.0,54
26,03-08-2015 00:00:02,B32653,296,-22.873900,-43.283800,32.0,54
27,03-08-2015 00:00:02,C20081,NaN,-22.957470,-43.346321,11.0,54
28,03-08-2015 00:00:02,C20126,880,-22.978870,-43.333500,5.0,54
29,03-08-2015 00:00:02,C20198,NaN,-22.957899,-43.345058,0.0,54
...,...,...,...,...,...,...,...
5457196,03-08-2015 23:57:51,B63107,942,-22.792900,-43.294500,0.0,90
5457197,03-08-2015 23:57:51,C41424,316,-22.857697,-43.244709,0.2,90
5457198,03-08-2015 23:57:52,A41152,178,-22.857691,-43.245251,0.0,89
5457199,03-08-2015 23:57:52,A41454,NaN,-22.857540,-43.245190,0.0,89
5457200,03-08-2015 23:57:54,B44552,SP265,-22.860900,-43.355500,0.0,87
5457201,03-08-2015 23:57:55,B32650,688,-22.882300,-43.288100,36.0,86
5457202,03-08-2015 23:57:55,B63069,942,-22.792200,-43.294400,2.0,86
5457203,03-08-2015 23:57:56,B63027,942,-22.792400,-43.294500,1.0,85
5457204,03-08-2015 23:57:57,A41214,NaN,-22.857399,-43.243542,10.0,84
5457205,03-08-2015 23:57:57,C41263,318,-22.964390,-43.173489,44.0,84
5457206,03-08-2015 23:57:57,C47625,NaN,-22.952793,-43.348862,0.0,84
5457207,03-08-2015 23:57:59,B63106,942,-22.793000,-43.294400,0.0,82
5457208,03-08-2015 23:58:01,A41464,NaN,-22.857639,-43.245159,0.0,80
5457209,03-08-2015 23:58:01,B32543,SV779,-22.867800,-43.352900,30.0,80
5457210,03-08-2015 23:58:02,A41027,181,-22.857559,-43.245102,0.4,79
5457211,03-08-2015 23:58:03,C30334,NaN,-22.950987,-43.348396,0.0,78
5457212,03-08-2015 23:58:05,B63018,942,-22.837300,-43.294700,23.0,76
5457213,03-08-2015 23:58:05,C41425,SP316,-22.857531,-43.244301,0.0,76
5457214,03-08-2015 23:58:07,C41217,318,-22.882092,-43.237766,63.7,74
5457215,03-08-2015 23:58:07,C41427,NaN,-22.857981,-43.244740,0.0,74
5457216,03-08-2015 23:58:09,A41230,538,-22.902170,-43.208000,0.0,72
5457217,03-08-2015 23:58:11,C41325,NaN,-22.857611,-43.244652,0.0,70
5457218,03-08-2015 23:58:13,C41260,NaN,-22.904224,-43.192379,0.2,68
5457219,03-08-2015 23:58:13,C41290,NaN,-22.857540,-43.245251,0.0,68
5457220,03-08-2015 23:58:14,A41074,NaN,-22.992321,-43.253742,2.8,67
5457221,03-08-2015 23:58:17,C41184,NaN,-22.858931,-43.245094,0.0,64
5457222,03-08-2015 23:58:18,A41459,178,-22.857615,-43.245258,0.0,63
5457223,03-08-2015 23:58:18,C30279,NaN,-22.952415,-43.348080,0.0,63
5457224,03-08-2015 23:58:21,C51523,NaN,-22.876635,-43.368420,0.0,60
5457225,03-08-2015 23:59:56,C41397,NaN,-22.875479,-43.240231,0.2,-34

In [5]:
df_20150817_file = []
for row in df_20150817.iterrows():
    #The 'latitude' and 'longitude' names correspond to column names in the original cceats dataframe
    df_20150817_file = [{"timestamp": row[1]['timestamp'],
                         "bus_id":row[1]['bus_id'],
                         "line":row[1]['line'],
                         "latitude": row[1]['latitude'],
                         "longitude": row [1]['longitude'], 
                         "speed" : row[1]['speed'],
                         "latlon": [ row[1]['longitude'], row[1]['latitude'] ]
                         }]
    db.dados20150817.insert_many(df_20150817_file)

BulkWriteError: batch op errors occurred