In [1]:
import pandas as pd
from pymongo import MongoClient, GEO2D
import pymongo
import json
import datetime
from bson.son import SON
import folium 
import math
import numpy as np
from IPython.display import display

In [2]:
df_20150817 = pd.read_csv('/home/kathrin/Doctorado/bus_rio/Datos_Omnibus/morte_motoqueiro_20150817/20150817.txt', delimiter = ('\t'))

In [30]:
a = df_20150817[df_20150817['timestamp'].str.contains('#')]

In [40]:
a.idxmin

<bound method DataFrame.idxmin of                                                  timestamp bus_id line  \
9591     # 4 dado(s) novo(s) inserido(s) em 17-08-2015 ...    NaN  NaN
9596     # 1734 dado(s) novo(s) inserido(s) em 17-08-20...    NaN  NaN
11331    # 1709 dado(s) novo(s) inserido(s) em 17-08-20...    NaN  NaN
13041    # 3 dado(s) novo(s) inserido(s) em 17-08-2015 ...    NaN  NaN
13045    # 1690 dado(s) novo(s) inserido(s) em 17-08-20...    NaN  NaN
14736    # 1582 dado(s) novo(s) inserido(s) em 17-08-20...    NaN  NaN
16319    # 5 dado(s) novo(s) inserido(s) em 17-08-2015 ...    NaN  NaN
16325    # 1606 dado(s) novo(s) inserido(s) em 17-08-20...    NaN  NaN
17932    # 1529 dado(s) novo(s) inserido(s) em 17-08-20...    NaN  NaN
19462    # 4 dado(s) novo(s) inserido(s) em 17-08-2015 ...    NaN  NaN
19467    # 1695 dado(s) novo(s) inserido(s) em 17-08-20...    NaN  NaN
21163    # 1712 dado(s) novo(s) inserido(s) em 17-08-20...    NaN  NaN
22876    # 6 dado(s) novo(s) inserido(s) em 17-08-2015 ...    NaN  NaN
22883    # 1620 dado(s) novo(s) inserido(s) em 17-08-20...    NaN  NaN
24504    # 1722 dado(s) novo(s) inserido(s) em 17-08-20...    NaN  NaN
26227    # 8 dado(s) novo(s) inserido(s) em 17-08-2015 ...    NaN  NaN
26236    # 1748 dado(s) novo(s) inserido(s) em 17-08-20...    NaN  NaN
27985    # 1707 dado(s) novo(s) inserido(s) em 17-08-20...    NaN  NaN
29693    # 3 dado(s) novo(s) inserido(s) em 17-08-2015 ...    NaN  NaN
29697    # 1673 dado(s) novo(s) inserido(s) em 17-08-20...    NaN  NaN
31371    # 1695 dado(s) novo(s) inserido(s) em 17-08-20...    NaN  NaN
33067    # 2 dado(s) novo(s) inserido(s) em 17-08-2015 ...    NaN  NaN
33070    # 1615 dado(s) novo(s) inserido(s) em 17-08-20...    NaN  NaN
34686    # 1708 dado(s) novo(s) inserido(s) em 17-08-20...    NaN  NaN
36395    # 4 dado(s) novo(s) inserido(s) em 17-08-2015 ...    NaN  NaN
36400    # 1721 dado(s) novo(s) inserido(s) em 17-08-20...    NaN  NaN
38122    # 1660 dado(s) novo(s) inserido(s) em 17-08-20...    NaN  NaN
39783    # 2 dado(s) novo(s) inserido(s) em 17-08-2015 ...    NaN  NaN
39786    # 1704 dado(s) novo(s) inserido(s) em 17-08-20...    NaN  NaN
41491    # 1667 dado(s) novo(s) inserido(s) em 17-08-20...    NaN  NaN
...                                                    ...    ...  ...
3573715  # 1602 dado(s) novo(s) inserido(s) em 17-08-20...    NaN  NaN
3575318  # 6 dado(s) novo(s) inserido(s) em 17-08-2015 ...    NaN  NaN
3575325  # 2016 dado(s) novo(s) inserido(s) em 17-08-20...    NaN  NaN
3577342  # 2328 dado(s) novo(s) inserido(s) em 17-08-20...    NaN  NaN
3579671  # 13 dado(s) novo(s) inserido(s) em 17-08-2015...    NaN  NaN
3579685  # 2184 dado(s) novo(s) inserido(s) em 17-08-20...    NaN  NaN
3581870  # 1542 dado(s) novo(s) inserido(s) em 17-08-20...    NaN  NaN
3583413  # 7 dado(s) novo(s) inserido(s) em 17-08-2015 ...    NaN  NaN
3583421  # 2301 dado(s) novo(s) inserido(s) em 17-08-20...    NaN  NaN
3585723  # 2264 dado(s) novo(s) inserido(s) em 17-08-20...    NaN  NaN
3587988  # 13 dado(s) novo(s) inserido(s) em 17-08-2015...    NaN  NaN
3588002  # 1804 dado(s) novo(s) inserido(s) em 17-08-20...    NaN  NaN
3589807  # 2160 dado(s) novo(s) inserido(s) em 17-08-20...    NaN  NaN
3591968  # 10 dado(s) novo(s) inserido(s) em 17-08-2015...    NaN  NaN
3591979  # 1582 dado(s) novo(s) inserido(s) em 17-08-20...    NaN  NaN
3593562  # 1576 dado(s) novo(s) inserido(s) em 17-08-20...    NaN  NaN
3595139  # 6 dado(s) novo(s) inserido(s) em 17-08-2015 ...    NaN  NaN
3595146  # 1585 dado(s) novo(s) inserido(s) em 17-08-20...    NaN  NaN
3596732  # 1564 dado(s) novo(s) inserido(s) em 17-08-20...    NaN  NaN
3598297  # 4 dado(s) novo(s) inserido(s) em 17-08-2015 ...    NaN  NaN
3598302  # 2155 dado(s) novo(s) inserido(s) em 17-08-20...    NaN  NaN
3600458  # 2098 dado(s) novo(s) inserido(s) em 17-08-20...    NaN  NaN
3602557  # 8 dado(s) novo(s) inserido(s) em 17-08-2015 ...    NaN  NaN
3602566  # 2232 dado(s) novo(s) inserido(s) em 17-08-20...    NaN  NaN
3604799  # 1505 dado(s) novo(s) inserido(s) em 17-08-20...    NaN  NaN
3606305  # 7 dado(s) novo(s) inserido(s) em 17-08-2015 ...    NaN  NaN
3606313  # 1498 dado(s) novo(s) inserido(s) em 17-08-20...    NaN  NaN
3607812  # 1493 dado(s) novo(s) inserido(s) em 17-08-20...    NaN  NaN
3609306  # 7 dado(s) novo(s) inserido(s) em 17-08-2015 ...    NaN  NaN
3609314  # 2143 dado(s) novo(s) inserido(s) em 17-08-20...    NaN  NaN

         latitude  longitude  speed
9591          NaN        NaN    NaN
9596          NaN        NaN    NaN
11331         NaN        NaN    NaN
13041         NaN        NaN    NaN
13045         NaN        NaN    NaN
14736         NaN        NaN    NaN
16319         NaN        NaN    NaN
16325         NaN        NaN    NaN
17932         NaN        NaN    NaN
19462         NaN        NaN    NaN
19467         NaN        NaN    NaN
21163         NaN        NaN    NaN
22876         NaN        NaN    NaN
22883         NaN        NaN    NaN
24504         NaN        NaN    NaN
26227         NaN        NaN    NaN
26236         NaN        NaN    NaN
27985         NaN        NaN    NaN
29693         NaN        NaN    NaN
29697         NaN        NaN    NaN
31371         NaN        NaN    NaN
33067         NaN        NaN    NaN
33070         NaN        NaN    NaN
34686         NaN        NaN    NaN
36395         NaN        NaN    NaN
36400         NaN        NaN    NaN
38122         NaN        NaN    NaN
39783         NaN        NaN    NaN
39786         NaN        NaN    NaN
41491         NaN        NaN    NaN
...           ...        ...    ...
3573715       NaN        NaN    NaN
3575318       NaN        NaN    NaN
3575325       NaN        NaN    NaN
3577342       NaN        NaN    NaN
3579671       NaN        NaN    NaN
3579685       NaN        NaN    NaN
3581870       NaN        NaN    NaN
3583413       NaN        NaN    NaN
3583421       NaN        NaN    NaN
3585723       NaN        NaN    NaN
3587988       NaN        NaN    NaN
3588002       NaN        NaN    NaN
3589807       NaN        NaN    NaN
3591968       NaN        NaN    NaN
3591979       NaN        NaN    NaN
3593562       NaN        NaN    NaN
3595139       NaN        NaN    NaN
3595146       NaN        NaN    NaN
3596732       NaN        NaN    NaN
3598297       NaN        NaN    NaN
3598302       NaN        NaN    NaN
3600458       NaN        NaN    NaN
3602557       NaN        NaN    NaN
3602566       NaN        NaN    NaN
3604799       NaN        NaN    NaN
3606305       NaN        NaN    NaN
3606313       NaN        NaN    NaN
3607812       NaN        NaN    NaN
3609306       NaN        NaN    NaN
3609314       NaN        NaN    NaN

[2064 rows x 6 columns]>

In [6]:
#Create a link to MongoDB using MongoClient(The name of new database will be morte_motoquiro_event)
db = MongoClient().morte_motoquiro_event

In [3]:
# Create the collection "dados20150817_line_172" with an geolocation index "latlon"
db.dados20150817_line_172.create_index([("latlon", GEO2D)])

u'latlon_2d'

In [4]:
# Create the collection "dados20150817_line_316" with an geolocation index "latlon"
db.dados20150817_line_316.create_index([("latlon", GEO2D)])

u'latlon_2d'

In [5]:
# Create the collection "dados20150817_line_317" with an geolocation index "latlon"
db.dados20150817_line_317.create_index([("latlon", GEO2D)])

u'latlon_2d'

In [6]:
# Create the collection "dados20150817_line_317" with an geolocation index "latlon"
db.dados20150727_line_317.create_index([("latlon", GEO2D)])

u'latlon_2d'

In [7]:
# Create the collection "dados20150817_line_317" with an geolocation index "latlon"
db.dados20150803_line_317.create_index([("latlon", GEO2D)])

u'latlon_2d'

In [8]:
# Create the collection "dados20150817_line_317" with an geolocation index "latlon"
db.dados20150810_line_317.create_index([("latlon", GEO2D)])

u'latlon_2d'

In [9]:
# Create the collection "dados20150817_line_957" with an geolocation index "latlon"
db.dados20150817_line_957.create_index([("latlon", GEO2D)])

u'latlon_2d'

In [10]:
# Create the collection "dados20150817_line_957" with an geolocation index "latlon"
db.dados20150817_line_110.create_index([("latlon", GEO2D)])

u'latlon_2d'

In [5]:
# Create the collection "dados20150817_line_957" with an geolocation index "latlon"
db.dados20150810_line_110.create_index([("latlon", GEO2D)])

u'latlon_2d'

In [6]:
# Create the collection "dados20150817_line_957" with an geolocation index "latlon"
db.dados20150803_line_110.create_index([("latlon", GEO2D)])

u'latlon_2d'

In [8]:
# Create the collection "dados20150817_line_957" with an geolocation index "latlon"
db.dados20150727_line_110.create_index([("latlon", GEO2D)])

u'latlon_2d'

In [7]:
db.dados20150817.create_index([("latlon", GEO2D)])

u'latlon_2d'

In [16]:
df_20150803 = pd.read_csv('/home/kathrin/Doctorado/bus_rio/Datos_Omnibus/morte_motoqueiro_20150817/20150803.txt', delimiter = ('\t'))

In [17]:
len(df_20150803)

5457226

In [33]:
df_20150817 = pd.read_csv('/home/kathrin/Doctorado/bus_rio/Datos_Omnibus/morte_motoqueiro_20150817/20150817.txt', delimiter = ('\t'))
df_20150727 = pd.read_csv('/home/kathrin/Doctorado/bus_rio/Datos_Omnibus/morte_motoqueiro_20150817/20150727.txt', delimiter = ('\t'))
df_20150803 = pd.read_csv('/home/kathrin/Doctorado/bus_rio/Datos_Omnibus/morte_motoqueiro_20150817/20150803.txt', delimiter = ('\t'))
df_20150810 = pd.read_csv('/home/kathrin/Doctorado/bus_rio/Datos_Omnibus/morte_motoqueiro_20150817/20150810.txt', delimiter = ('\t'))

In [9]:
df_20150817_line_172 = df_20150817[(df_20150817['line']=='172')]

In [12]:
df_20150817_line_316 = df_20150817[(df_20150817['line']=='316')]

In [13]:
df_20150817_line_317 = df_20150817[(df_20150817['line']=='317')]
df_20150727_line_317 = df_20150727[(df_20150727['line']=='317')]
df_20150803_line_317 = df_20150803[(df_20150803['line']=='317')]
df_20150810_line_317 = df_20150810[(df_20150810['line']=='317')]

In [34]:
df_20150727_line_110 = df_20150727[(df_20150727['line']=='110')]
df_20150803_line_110 = df_20150803[(df_20150803['line']=='110')]
df_20150810_line_110 = df_20150810[(df_20150810['line']=='110')]
df_20150817_line_110 = df_20150817[(df_20150817['line']=='110')]

In [10]:
df_20150817_line_957 = df_20150817[(df_20150817['line']=='957')]

In [5]:
#Insert in MongoDb gps data of bus line 172 on 2015-08-17


for row in df_20150817_line_172.iterrows():
    #The 'latitude' and 'longitude' names correspond to column names in the original cceats dataframe
    df_20150817_line_172_file = [{"timestamp": row[1]['timestamp'],
                                  "bus_id":row[1]['bus_id'],
                                  "line":row[1]['line'],
                                  "latitude": row[1]['latitude'],
                                  "longitude": row [1]['longitude'], 
                                  "speed" : row[1]['speed'],
                                  "latlon": [ row[1]['longitude'], row[1]['latitude'] ]
                                  }]
    db.dados20150817_line_172.insert_many(df_20150817_line_172_file)

In [4]:
len(df_20150817_line_172)

15855

In [15]:
#Insert in MongoDb gps data of bus line 316 on 2015-08-17
df_20150817_line_316_file = []

for row in df_20150817_line_316.iterrows():
    #The 'latitude' and 'longitude' names correspond to column names in the original cceats dataframe
    df_20150817_line_316_file = [{"timestamp": row[1]['timestamp'],
                                  "bus_id":row[1]['bus_id'],
                                  "line":row[1]['line'],
                                  "latitude": row[1]['latitude'],
                                  "longitude": row [1]['longitude'], 
                                  "speed" : row[1]['speed'],
                                  "latlon": [ row[1]['longitude'], row[1]['latitude'] ]
                                  }]
    db.dados20150817_line_316.insert_many(df_20150817_line_316_file)

In [9]:
#Insert in MongoDb gps data of bus line 317 on 2015-08-17
df_20150817_line_317_file = []

for row in df_20150817_line_317.iterrows():
    #The 'latitude' and 'longitude' names correspond to column names in the original cceats dataframe
    df_20150817_line_317_file = [{"timestamp": row[1]['timestamp'],
                                  "bus_id":row[1]['bus_id'],
                                  "line":row[1]['line'],
                                  "latitude": row[1]['latitude'],
                                  "longitude": row [1]['longitude'], 
                                  "speed" : row[1]['speed'],
                                  "latlon": [ row[1]['longitude'], row[1]['latitude'] ]
                                  }]
    db.dados20150817_line_317.insert_many(df_20150817_line_317_file)

In [ ]:
#Insert in MongoDb gps data of bus line 957 on 2015-08-17
df_20150817_line_957_file = []

for row in df_20150817_line_957.iterrows():
    #The 'latitude' and 'longitude' names correspond to column names in the original cceats dataframe
    df_20150817_line_957_file = [{"timestamp": row[1]['timestamp'],
                                  "bus_id":row[1]['bus_id'],
                                  "line":row[1]['line'],
                                  "latitude": row[1]['latitude'],
                                  "longitude": row [1]['longitude'], 
                                  "speed" : row[1]['speed'],
                                  "latlon": [ row[1]['longitude'], row[1]['latitude'] ]
                                  }]
    db.dados20150817_line_957.insert_many(df_20150817_line_957_file)

In [19]:
#Insert in MongoDb gps data of bus line 317 on 2015-07-27
df_20150727_line_317_file = []


for row in df_20150727_line_317.iterrows():
    #The 'latitude' and 'longitude' names correspond to column names in the original cceats dataframe
    df_20150727_line_317_file = [{"timestamp": row[1]['timestamp'],
                                  "bus_id":row[1]['bus_id'],
                                  "line":row[1]['line'],
                                  "latitude": row[1]['latitude'],
                                  "longitude": row [1]['longitude'], 
                                  "speed" : row[1]['speed'],
                                  "other": row[1]['other'],
                                  "latlon": [ row[1]['longitude'], row[1]['latitude'] ]
                                  }]
    db.dados20150727_line_317.insert_many(df_20150727_line_317_file)

In [ ]:
#Insert in MongoDb gps data of bus line 317 on 2015-08-03
df_20150803_line_317_file = []


for row in df_20150803_line_317.iterrows():
    #The 'latitude' and 'longitude' names correspond to column names in the original cceats dataframe
    df_20150803_line_317_file = [{"timestamp": row[1]['timestamp'],
                                  "bus_id":row[1]['bus_id'],
                                  "line":row[1]['line'],
                                  "latitude": row[1]['latitude'],
                                  "longitude": row [1]['longitude'], 
                                  "speed" : row[1]['speed'],
                                  "other": row[1]['other'],
                                  "latlon": [ row[1]['longitude'], row[1]['latitude'] ]
                                  }]
    db.dados20150803_line_317.insert_many(df_20150803_line_317_file)

In [ ]:
#Insert in MongoDb gps data of bus line 317 on 2015-08-03
df_20150803_line_317_file = []


for row in df_20150803_line_317.iterrows():
    #The 'latitude' and 'longitude' names correspond to column names in the original cceats dataframe
    df_20150803_line_317_file = [{"timestamp": row[1]['timestamp'],
                                  "bus_id":row[1]['bus_id'],
                                  "line":row[1]['line'],
                                  "latitude": row[1]['latitude'],
                                  "longitude": row [1]['longitude'], 
                                  "speed" : row[1]['speed'],
                                  "other": row[1]['other'],
                                  "latlon": [ row[1]['longitude'], row[1]['latitude'] ]
                                  }]
    db.dados20150803_line_317.insert_many(df_20150803_line_317_file)

In [6]:
df_20150727_line_110_file = []


for row in df_20150727_line_110.iterrows():
    #The 'latitude' and 'longitude' names correspond to column names in the original cceats dataframe
    df_20150727_line_110_file = [{"timestamp": row[1]['timestamp'],
                                  "bus_id":row[1]['bus_id'],
                                  "line":row[1]['line'],
                                  "latitude": row[1]['latitude'],
                                  "longitude": row [1]['longitude'], 
                                  "speed" : row[1]['speed'],
                                  "other": row[1]['other'],
                                  "latlon": [ row[1]['longitude'], row[1]['latitude'] ]
                                  }]
    db.dados20150727_line_110.insert_many(df_20150727_line_110_file)