In [1]:
import pandas as pd
from pymongo import MongoClient, GEO2D
import pymongo
import json
import datetime
from bson.son import SON
import folium 
from math import *
import numpy as np
from IPython.display import display
import matplotlib.pyplot as plt
import plotly.plotly as py
from plotly.graph_objs import *

In [2]:
df_20150803 = pd.read_csv('/home/kathrin/Doctorado/bus_rio/Datos_Omnibus/morte_motoqueiro_20150817/20150803.txt', delimiter = ('\t'))

In [3]:
df_20150803_line_317 = df_20150803[(df_20150803['line']=='317')]

In [4]:
#Estableciendo la conexion con la base de datos morte_motoquiro en MongoDB
db = MongoClient().morte_motoquiro_event

In [ ]:
onibus317_shapes = pd.read_csv('/home/kathrin/Doctorado/bus_rio/Datos_Omnibus/Onibus/Shapes/gtfs_linha317-shapes.csv')

In [14]:
#Tramo a analizar
punto2 = (-22.960298 , -43.204346)
inverted_point2 = (-43.204346, -22.960298)
punto5 = (-22.974325 , -43.22625)  
inverted_point5 = (-43.22625, -22.974325)

In [6]:
#Function to compute the bus_ids circulating during a day  
bus_id_20150803_317 = db.dados20150803_line_317.distinct("bus_id")

In [18]:
array_busId = get_busId_list(bus_id_20150803_317)
array_busId

['C41130',
 'C41102',
 'C41093',
 'C41237',
 'C41119',
 'C41406',
 'C41410',
 'C41325',
 'C41404',
 'C41427']

In [21]:
#Distancia Euclideana
#unidad de medida Km
from scipy.spatial import distance
def euclidean_distance(vector, point):
    vector_distance = []
    for item in vector:
        lat1 = item[1]
        long1 = item[2]
        time = item[0]
        latlon = (item[1], item[2])
        dst = distance.euclidean(latlon,point)
        vector_distance.insert(len(vector_distance), [time, latlon, dst])
    df_vector_distance = pd.DataFrame(vector_distance, columns=['timestamp', 'latlon', 'distance'])
    return df_vector_distance

In [22]:
df_20150803_line_317_C41102 = df_20150803_line_317[(df_20150803_line_317['bus_id']=='C41102')]
important_columns_C41102 = df_20150803_line_317_C41102.iloc[:,[0,3,4]]
vector_C41102 = important_columns_C41102.values.tolist()

In [23]:
vector_dist_to_ini_point_C41102 = euclidean_distance(vector_C41102, punto2)
sorted_vector_dist_to_ini_point_C41102 = vector_dist_to_ini_point_C41102.sort(["timestamp"])

vector_dist_to_final_point_C41102  = euclidean_distance(vector_C41102, punto5)
sorted_vector_dist_to_final_point_C41102 = vector_dist_to_final_point_C41102.sort(["timestamp"])

In [24]:
#hacer una grafica interactiva con la libreria de python (plotly.plotly). Se instala por consola asi: sudo pip install plotly
#distancia del punto final (central)

trace_C41102 = Scatter(x = sorted_vector_dist_to_ini_point_C41102['timestamp'], y = sorted_vector_dist_to_ini_point_C41102['distance'])
data_C41102 = Data([trace_C41102])
py.iplot(data_C41102, filename='pandas-time-series')

In [25]:
vector_dist_to_ini_point_C41102

               timestamp                    latlon  distance
0    03-08-2015 04:24:38  (-22.905239, -43.191292)  0.056585
1    03-08-2015 04:25:38   (-22.904949, -43.19202)  0.056705
2    03-08-2015 04:26:38  (-22.904711, -43.192989)  0.056735
3    03-08-2015 04:27:38   (-22.90457, -43.192211)  0.057034
4    03-08-2015 04:29:08  (-22.904539, -43.192188)  0.057069
5    03-08-2015 04:29:38  (-22.904539, -43.192188)  0.057069
6    03-08-2015 04:31:08   (-22.90452, -43.192181)  0.057089
7    03-08-2015 04:32:08   (-22.90452, -43.192169)  0.057092
8    03-08-2015 04:32:38   (-22.90451, -43.192181)  0.057099
9    03-08-2015 04:34:08  (-22.904341, -43.192261)  0.057247
10   03-08-2015 04:34:38  (-22.904341, -43.192261)  0.057247
11   03-08-2015 04:35:38  (-22.904329, -43.192261)  0.057259
12   03-08-2015 04:36:38   (-22.90432, -43.192268)  0.057266
13   03-08-2015 04:38:08   (-22.90432, -43.192291)  0.057261
14   03-08-2015 04:39:08   (-22.90432, -43.192291)  0.057261
15   03-08-2015 04:40:08    (-22.9042, -43.191341)  0.057586
16   03-08-2015 04:41:08  (-22.903799, -43.189701)  0.058366
17   03-08-2015 04:42:08    (-22.90517, -43.19202)  0.056489
18   03-08-2015 04:43:08  (-22.906441, -43.198181)  0.054209
19   03-08-2015 04:43:38   (-22.90658, -43.197849)  0.054109
20   03-08-2015 04:44:38  (-22.912041, -43.197449)  0.048747
21   03-08-2015 04:45:38   (-22.91428, -43.199322)  0.046291
22   03-08-2015 04:46:38     (-22.9142, -43.19648)  0.046764
23   03-08-2015 04:47:38   (-22.916401, -43.19442)  0.045005
24   03-08-2015 04:48:08   (-22.91873, -43.194611)  0.042693
25   03-08-2015 04:49:38   (-22.92082, -43.193642)  0.040903
26   03-08-2015 04:50:38  (-22.936661, -43.183811)  0.031311
27   03-08-2015 04:54:08  (-22.949459, -43.186741)  0.020674
28   03-08-2015 04:55:08   (-22.94998, -43.190868)  0.016974
29   03-08-2015 04:55:38    (-22.9508, -43.193508)  0.014411
..                   ...                       ...       ...
259  03-08-2015 10:36:38   (-22.978741, -43.22435)  0.027209
260  03-08-2015 10:37:38   (-22.977739, -43.22477)  0.026858
261  03-08-2015 10:39:38  (-22.974779, -43.225941)  0.026001
262  03-08-2015 10:40:38   (-22.97368, -43.225601)  0.025117
263  03-08-2015 10:42:38     (-22.96731, -43.2201)  0.017244
264  03-08-2015 10:43:38   (-22.96558, -43.218658)  0.015256
265  03-08-2015 10:45:08     (-22.9638, -43.21701)  0.013139
266  03-08-2015 10:47:08   (-22.96125, -43.212059)  0.007772
267  03-08-2015 10:47:38    (-22.9611, -43.210529)  0.006235
268  03-08-2015 10:49:08  (-22.960421, -43.205662)  0.001322
269  03-08-2015 10:49:38   (-22.960501, -43.20536)  0.001034
270  03-08-2015 10:50:38  (-22.960369, -43.203941)  0.000411
271  03-08-2015 10:51:38    (-22.95982, -43.20182)  0.002571
272  03-08-2015 10:52:08   (-22.95977, -43.201271)  0.003120
273  03-08-2015 10:54:08   (-22.95789, -43.199219)  0.005664
274  03-08-2015 10:55:08   (-22.957279, -43.19878)  0.006332
275  03-08-2015 10:55:38  (-22.956421, -43.198231)  0.007240
276  03-08-2015 10:57:08   (-22.95553, -43.195789)  0.009796
277  03-08-2015 10:58:08  (-22.955179, -43.194939)  0.010710
278  03-08-2015 10:59:08   (-22.954269, -43.19228)  0.013488
279  03-08-2015 10:59:38  (-22.953911, -43.191341)  0.014489
280  03-08-2015 11:00:38  (-22.953569, -43.190361)  0.015520
281  03-08-2015 11:01:38  (-22.952971, -43.188801)  0.017185
282  03-08-2015 11:03:08     (-22.95137, -43.1842)  0.022036
283  03-08-2015 11:04:08  (-22.949499, -43.181549)  0.025225
284  03-08-2015 11:04:38   (-22.94771, -43.182091)  0.025568
285  03-08-2015 11:05:38   (-22.943529, -43.18108)  0.028679
286  03-08-2015 11:06:38     (-22.9424, -43.17997)  0.030241
287  03-08-2015 11:07:38   (-22.94326, -43.175968)  0.033100
288  03-08-2015 11:08:38    (-22.94117, -43.17234)  0.037286

[289 rows x 3 columns]